{% macro render(id) %}
    <!-- Dropdown menu -->
    <ul id="{{ id if id is defined }}" class="dropdown-content">
        {{ caller() }}
    </ul>
{% endmacro %}


{% macro trigger(id, icon, aria_label) %}
    {% set aria_label = aira_label if aria_label is defined else id|replace("-", " ") %}
    <a href="" class="btn-flat waves-effect dropdown-trigger"
       data-target="{{ id if id is defined }}" aria-label="{{ aria_label }}">
        <i class="material-symbols-rounded">{{ icon if icon is defined else "more_vert" }}</i>
    </a>
{% endmacro %}


{% macro item(label, url, icon, _class) %}
    <li>
        <a href="{{ url if url is defined }}" class="waves-effect waves-light{{ ' '+_class if _class is defined }}">
            {% if icon is defined %}
                <i class="material-symbols-rounded">{{ icon }}</i>
            {% endif %}
            {{ label if label is defined }}
        </a>
    </li>
{% endmacro %}

{% macro divider() %}
    <li class="divider" tabindex="-1"></li>
{% endmacro %}