{% macro render() %}

    <nav class="footer-nav">
        {{ caller() }}
    </nav>

{% endmacro %}


{% macro item(label, icon, url) %}
    <a href="{{ url if url is defined }}" class="footer-nav-item btn-flat">
        <i class="material-symbols-rounded">{{ icon if icon is defined }}</i>
        <span>{{ label if label is defined }}</span>
    </a>
{% endmacro %}