{% macro render() %}

    <footer>
        <nav class="footer-nav">
            {{ caller() }}
        </nav>
    </footer>

{% endmacro %}


{% macro item(label, icon, url=None, modal=None, dropdown=None) %}
    {% set modal_trigger = 'javascript:' ~ modal|string ~ '.showPopover()' %}
    <a href="{{ (modal_trigger) if modal else (url if url else '#!') }}"
       class="footer-nav-item btn-flat{{ ' dropdown-trigger' if dropdown }}"
       {% if dropdown %}data-target="{{ dropdown }}"{% endif %}>
        <i class="material-symbols-rounded">{{ icon if icon is defined }}</i>
        <span>{{ label if label is defined }}</span>
    </a>
{% endmacro %}