{% extends 'base.html' %}


{% block main %}

    <section>

        <div class="container">

            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="card">
                        <div class="card-content">
                            <div class="center-align">
                                <img class="profile-img"
                                     src="{{ url_for('static', filename=current_user.profile.image|safe) }}" alt="">
                                <h5><b>{{ current_user.username.title() }}</b></h5>
                                <p class="grey-text">{{ current_user.primary_email }}</p>
                            </div>
                            <hr>
                            <form action="" method="POST" class="row">
                                {{ form.hidden_tag() }}
                                <div class="col s6 input-field">
                                    {{ form.first_name() }}
                                    {{ form.first_name.label }}
                                </div>
                                <div class="col s6 input-field">
                                    {{ form.middle_name() }}
                                    {{ form.middle_name.label }}
                                </div>
                                <div class="col s12 input-field">
                                    {{ form.last_name() }}
                                    {{ form.last_name.label }}
                                </div>
                                <div class="col s4 input-field">
                                    {{ form.gender() }}
                                    {{ form.gender.label }}
                                </div>
                                <div class="col s4 input-field">
                                    {{ form.marital_status() }}
                                    {{ form.marital_status.label }}
                                </div>
                                <div class="col s4 input-field">
                                    {{ form.birthday() }}
                                    {{ form.birthday.label }}
                                </div>
                                <div class="col s6 input-field">
                                    {{ form.phone_number() }}
                                    {{ form.phone_number.label }}
                                </div>
                                <div class="col s6 input-field">
                                    {{ form.email() }}
                                    {{ form.email.label }}
                                </div>
                                <div class="col s7 input-field">
                                    {{ form.address() }}
                                    {{ form.address.label }}
                                </div>
                                <div class="col s5 input-field">
                                    {{ form.city() }}
                                    {{ form.city.label }}
                                </div>
                                <div class="col s4 input-field">
                                    {{ form.zip_code() }}
                                    {{ form.zip_code.label }}
                                </div>
                                <div class="col s4 input-field">
                                    {{ form.state() }}
                                    {{ form.state.label }}
                                </div>
                                <div class="col s4 input-field">
                                    {{ form.country() }}
                                    {{ form.country.label }}
                                </div>
                                <div class="col s12 center-block">
                                    {{ form.submit(class="btn") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {#        <div class="container">#}
        {#            <div class="card profile-card z-depth-2">#}
        {#                <div class="card-content">#}
        {#                    <div class="row">#}
        {#                        <div class="col s12 center-align">#}
        {#                            <img src="https://via.placeholder.com/100" alt="Profile Photo" class="profile-photo">#}
        {#                            <h5 class="primary-text">John Doe</h5>#}
        {#                            <p class="grey-text">john.doe@example.com</p>#}
        {#                        </div>#}
        {##}
        {#                        <form class="col s12" method="POST" action="/update-profile">#}
        {#                            <div class="row">#}
        {#                                <div class="input-field col s12 m6">#}
        {#                                    <i class="material-icons prefix">person</i>#}
        {#                                    <input id="name" name="name" type="text" value="John Doe" required>#}
        {#                                    <label for="name" class="active">Full Name</label>#}
        {#                                </div>#}
        {##}
        {#                                <div class="input-field col s12 m6">#}
        {#                                    <i class="material-icons prefix">email</i>#}
        {#                                    <input id="email" name="email" type="email" value="john.doe@example.com" required>#}
        {#                                    <label for="email" class="active">Email</label>#}
        {#                                </div>#}
        {##}
        {#                                <div class="input-field col s12 m6">#}
        {#                                    <i class="material-icons prefix">phone</i>#}
        {#                                    <input id="phone" name="phone" type="tel" value="+1 234 567 8900">#}
        {#                                    <label for="phone" class="active">Phone</label>#}
        {#                                </div>#}
        {##}
        {#                                <div class="file-field input-field col s12 m6">#}
        {#                                    <div class="btn secondary btn-rounded">#}
        {#                                        <span><i class="material-icons">photo_camera</i></span>#}
        {#                                        <input type="file" name="profile_photo">#}
        {#                                    </div>#}
        {#                                    <div class="file-path-wrapper">#}
        {#                                        <input class="file-path validate" type="text"#}
        {#                                               placeholder="Upload new profile photo">#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {##}
        {#                            <div class="row center-align">#}
        {#                                <button class="btn waves-effect btn-rounded primary" type="submit">#}
        {#                                    <i class="material-icons left">manage_accounts</i>#}
        {#                                    Update Profile#}
        {#                                </button>#}
        {#                            </div>#}
        {#                        </form>#}
        {##}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

    </section>

{% endblock %}