{% extends 'base.html' %}


{% block main %}

    <section>

        <div class="container">
            <div class="row">

                <div class="col s6">
                    <a href="{{ url_for('user.profile') }}" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">person</i>
                                <h5>Profile</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="{{ url_for('user.appearance') }}" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">brush</i>
                                <h5>Appearance</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="{{ url_for('user.notifications') }}" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">notifications</i>
                                <h5>Notifications</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="{{ url_for('user.security') }}" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">security</i>
                                <h5>Security</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="{{ url_for('user.accessibility') }}" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">accessibility</i>
                                <h5>Accessibility</h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </section>

{% endblock %}