{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}
{% from "macros/ui_components.html" import render_button, table, render_icon %}

{% block main %}

<!-- TODO 7/4/25 : Replace header_description with actual description from group object. -->

{% set header_description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci ipsum rem, velit voluptate voluptatibus!" %}
{% set button_html %}
{% if current_user.has_permission("menu.update.group") %}
    {{ render_button("Edit", "filled", "#") }}
{% endif %}
{% endset %}

{% call page_section(group.name, header_description, button=button_html) %}
<!-- Summary panel -->
<div class="col s12">
    {% call panel_card("Summary") %}
        {% set active_color = "success-text" if group.active else "danger-text" %}
        {% set active_text = "Active" if group.active else "Disabled" %}
        <div class="row g-0 flow-text">
            <div class="col s6">
                <p>Category : <strong>{{ group.category.name|title }}</strong></p>
            </div>
            <div class="col s6">
                <p>Status: <strong class="{{ active_color }}">{{ active_text }}</strong></p>
            </div>
            <div class="col s12 m6">
                <p>Created Date: <strong>1/20/2025</strong></p>
                <p>Created By: <strong>System</strong></p>
            </div>
            <div class="col s12 m6">
                <p>Last Update: <strong>6/12/2025</strong></p>
                <p>Updated By: <strong>Admin</strong></p>
            </div>
        </div>
    {% endcall %}
</div>

<!-- Group-Items panel -->
<div class="col s12">
    {% set button_html %}
    {{ render_button("Assign Item", "outlined", "#") }}
    {% endset %}
    {% call panel_card("Assigned Items", button=button_html) %}
        {% call table(["Item Name", "Price", "Status"]) %}
            {% for menu_item in group.menu_items %}
                {% set status_color = "success-text" if menu_item.active else "danger-text" %}
                <tr>
                    <td>{{ menu_item.name }}</td>
                    <td>{{ menu_item.price|currency }}</td>
                    <td>{{ render_icon("radio_button_checked", classes=status_color) }}</td>
                </tr>
            {% endfor %}
        {% endcall %}
    {% endcall %}
</div>

<!-- Danger Zone panel -->
<div class="col s12">
    {% call panel_card("Danger Zone", classes="danger-border") %}

    {% endcall %}
</div>
{% endcall %}

{% endblock %}