{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}
{% from "macros/ui_components.html" import render_button, table, render_icon %}

{% block main %}

{% set header_description = "Menu groups organize related menu items within categories. Each group belongs to a category and can contain multiple menu items, helping to structure and manage your menu efficiently." %}
{% set button_html %}
{% if current_user.has_permission("menu.create.group") %}
    {{ render_button("Create Group", "filled", "#") }}
{% endif %}
{% endset %}

{% call page_section("Menu Groups", description=header_description, button=button_html) %}
    <div class="col s12">
        {% if groups %}
            {% call panel_card() %}
                {% call table(["Name", "Description", "Active"]) %}
                    {% for group in groups %}
                        <tr>
                            {% set active_color = "success-text" if group.active else "danger-text" %}
                            <td>
                                {% if current_user.has_permission("menu.read.group") %}
                                    <a href="{{ url_for("menu.get_group", group_id=group.id) }}">
                                        {{ group.name }}
                                    </a>
                                {% else %}
                                    {{ group.name }}
                                {% endif %}
                            </td>
                            <td></td>
                            <td>
                                {{ render_icon("radio_button_checked", classes=active_color) }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endcall %}
            {% endcall %}
        {% endif %}
    </div>
{% endcall %}

{% endblock %}