{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card, summary_card, danger_zone_card %}
{% from "macros/ui_components.html" import render_button, table, render_icon, render_status_text %}

{% block main %}

{% set button_html %}
{% if current_user.has_permission("menu.update.group") %}
    {{ render_button("Edit", "filled", url_for("menu.group.update_group", group_id=group.id)) }}
{% endif %}
{% endset %}

{% call page_section(group.name, group.description, button=button_html) %}

<!-- Summary panel -->
<div class="col s12">
    {{ summary_card(group) }}
</div>

<!-- MenuGroup-Items panel -->
<div class="col s12">
    {% set button_html %}
    {% endset %}
    {% call panel_card("Assigned Items", count=group.menu_items) %}
        {% call table(["MenuItem Name", "Price", "Status"]) %}
            {% for menu_item in group.menu_items %}
                {% set status_color = "success-text" if menu_item.active else "danger-text" %}
                <tr>
                    <td>
                        <a href="{{ url_for("menu.item.get_item", item_id=menu_item.id) }}">
                            {{ menu_item.name }}
                        </a>
                    </td>
                    <td>{{ menu_item.price|currency }}</td>
                    <td>{{ render_icon("radio_button_checked", classes=status_color) }}</td>
                </tr>
            {% endfor %}
        {% endcall %}
    {% endcall %}
</div>

{% if current_user.has_permission("menu.delete.group") %}
    <!-- Danger Zone panel -->
    <div class="col s12">
        {{ danger_zone_card(group.active, "group", form, url_for("menu.group.delete_group", group_id=group.id)) }}
    </div>

{% endif %}

{% endcall %}

{% endblock %}