{% if breadcrumb is defined and breadcrumb is iterable %}
    <nav class="breadcrumb-wrapper pt-4">
        <div class="col s12">
            {% for crumb in breadcrumb %}
                {% if crumb is mapping and 'label' in crumb %}
                    {% if crumb.url %}
                        <a href="{{ crumb.url }}" class="breadcrumb">{{ crumb.label }}</a>
                    {% else %}
                        <span class="breadcrumb">{{ crumb.label }}</span>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </nav>
{% endif %}

{#
Add breadcrumb to the context in a view func.
context = { "breadcrumb": [
                            {"url": url_for("auth.home"), "label": "IAM"},
                            {"url": None, "label": "Add auth"}, <-- current error no link
                             ] }
#}