{% import "macros/button.html" as Button %}

{% macro page(title, subtitle, count) %}

    <section class="section">
        <div class="container">
            <div class="flex flex-row justify-between mb-4">
                <div>
                    <h1 class="text-3xl my-1 font-bold">
                        {{ title }}
                        {% if count is defined %}
                            <span class="counter text-xl">{{ count }}</span>
                        {% endif %}
                    </h1>
                    {% if subtitle is defined %}
                        <p class="text-outline text-lg my-1">{{ subtitle }}</p>
                    {% endif %}
                </div>
                {% if caller() is defined %}
                    <div class="valign-wrapper flex flex-row justify-between">
                        {{ caller() }}
                    </div>
                {% endif %}
            </div>
            <div class="divider"></div>
        </div>
    </section>

{% endmacro %}