{% import "components/sidenav.j2" as Sidenav with context %}

{% call Sidenav.render("IAM") %}
    {{ Sidenav.item("Dashboard", icon="dashboard", url=url_for("iam.dashboard")) }}
    {{ Sidenav.item("Users", icon="group", url=url_for("iam.users")) }}
    {{ Sidenav.item("Roles", icon="workspace_premium", url=url_for("iam.roles")) }}
    {{ Sidenav.item("Policies", icon="gavel", url=url_for("iam.policies")) }}
    {{ Sidenav.item("Permissions", icon="vpn_key", url=url_for("iam.permissions")) }}
    {{ Sidenav.item("Settings", icon="settings", url=url_for("iam.settings")) }}
{% endcall %}