{% extends 'base.html' %}

{% import "components/forms.j2" as Form %}

{% block main %}

    <div class="container">
        <div class="center-content">
            <div class="auth-wrapper sidenav-padding-fix">
                <div class="auth-card card z-depth-2">
                    <div class="card-content">
                        <div class="brand-lockup">
                            <i class="material-symbols-rounded">restaurant_menu</i>
                            <span class="brand-name">LibrePOS</span>
                        </div>
                        <h5>Forgot Password</h5>
                        <p class="grey-text">Enter your username or email to receive a password reset link.</p>
                        <form action="" method="POST">
                            {{ Form.render_form(form) }}
                        </form>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('iam.login') }}">Back to login</a>
                    </div>
                </div>
                <p class="grey-text center-align mt-4">Secure staff access &verbar; All activity is logged</p>
            </div>
        </div>
    </div>
{% endblock %}
