{% extends 'base.html' %}

{% import "components/forms.j2" as Form %}

{% block sidenav %}
    {% include 'iam/_sidenav.html' %}
{% endblock %}

{% block breadcrumb %}
    {% include '_partials/breadcrumbs.html' %}
{% endblock %}

{% block main %}

    <section class="section">
        <div class="row mx-4">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel">
                    <div class="center-align mb-2">
                        <i class="material-symbols-rounded" style="font-size: 3rem; color: var(--bistro-primary);">lock_reset</i>
                        <h5>Change Password</h5>
                        <p class="grey-text">Update your password to keep your account secure.</p>
                    </div>

                    <form action="" method="post">
                        {{ Form.render_form(form) }}
                    </form>

                    <div class="divider my-2"></div>
                    <p class="grey-text" style="font-size: 0.85rem;">
                        <i class="material-symbols-rounded tiny">info</i>
                        Password must be at least 8 characters.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
