{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card, modal %}
{% from "macros/ui_components.html" import table, render_button, render_modal_button, render_form %}

{% block main %}
{% set update_role_button %}
{% if current_user.has_permission(update_role_permission) %}
    {{ render_button("Edit Role", "filled", url="#") }}
{% endif %}
{% endset %}
{% set users_role_count = role.users|length %}

{% call page_section(role.name|title, role.description|capitalize, button=update_role_button) %}
    <!-- Role Summary Card -->
    <div class="col s12">
        {% call panel_card("Summary") %}
            <p>
                <strong>Creation Date:</strong>&nbsp;{{ role.created_at|date }}
            </p>
            <p>
                <strong>Created by:</strong> &nbsp; System
            </p>
            <p>
                <strong>Assigned Policies:</strong> &nbsp; {{ role.role_policies|length|string }}
            </p>
            <p>
                <strong>Assigned Users:</strong> &nbsp; {{ users_role_count }}
                &nbsp; {{ "users" if users_role_count > 1 else "user" }}
            </p>
            <p>
                <strong>Status:</strong> &nbsp;
                {% if role.active %}
                    <span class="success-text">Active</span>
                {% else %}
                    <span class="danger-text">Disabled</span>
                {% endif %}
            </p>
        {% endcall %}
    </div>

    <!-- Assigned Policies Card -->
    <div class="col s12">
        {% call panel_card("Assigned Policies", count=role.role_policies) %}
            <div class="row">
                <div class="col s12">
                    {% call table(["Policy Name"]) %}
                        {% for role_policy in role.role_policies %}
                            <tr>
                                <td>{{ role_policy.policy.name }}</td>
                            </tr>
                        {% endfor %}
                    {% endcall %}
                </div>
                <div class="col s12">
                    {{ render_button("Edit Policies", "filled", url_for('iam.role.get_role_policies', role_id=role.id)) }}
                </div>
            </div>
        {% endcall %}
    </div>

    {% if role.deletable %}
        <!-- Danger Zone Card -->
        <div class="col s12">
            {% call panel_card("Danger Zone", classes="danger-border") %}
                <div class="row">
                    <div class="col s12">
                        <p class="flow-text">
                            <strong>This action is irreversible.</strong>
                        </p>
                        <p class="flow-text">
                            <strong>Are you sure you want to delete this role?</strong>
                        </p>
                    </div>
                    <div class="col s12">
                        {{ render_modal_button("Delete Role", "outlined", "deleteRole", classes="danger") }}
                        {% call modal("deleteRole", "Delete Role?", "danger") %}
                            <p class="flow-text">
                                Deleting this role will permanently remove it from the system and revoke all associated
                                permissions from users who have this role. This action cannot be undone.
                            </p>
                            <p class="flow-text">
                                Type <strong>confirm</strong> to proceed with deletion.
                            </p>
                            {{ render_form(form, url_for("iam.role.delete_role", role_id=role.id)) }}
                        {% endcall %}
                    </div>
                </div>
            {% endcall %}
        </div>
    {% endif %}

{% endcall %}

{% endblock %}