{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, modal %}
{% from "macros/ui_components.html" import table, render_button, render_modal_button, render_form %}
{% from "layout.html" import section %}
{% from "components.html" import panel_card, modal %}
{% from "macros/cards.html" import render_icon_card %}
{% from "elements.html" import render_icon, render_status_text %}

{% block main %}
{% set update_role_button %}
{% if current_user.has_permission(update_role_permission) %}
    {{ render_button("Edit Role", "filled", url="#") }}
{% endif %}
{% endset %}
{% set users_role_count = role.users|length %}

{% call section(role.name|title, role.description|capitalize) %}
    <div class="col s6 m4 l3">
        {{ render_icon_card("edit", "Edit") }}
    </div>
    <div class="col s6 m4 l3">
        {{ render_icon_card("policy", "Policies") }}
    </div>
    <div class="col s6 m4 l3">
        {{ render_icon_card("settings", "Settings") }}
    </div>
    <div class="col s6 m4 l3">
        <a href="javascript:infoModal.showPopover()" class="inherit-color">
            {% call panel_card(cls="center-align hoverable") %}
                {{ render_icon("info", cls="large") }}
                <p class="flow-text">Info</p>
            {% endcall %}
        </a>
        {% call modal("infoModal", "Info", style="info") %}
            <p class="flow-text">
                <strong>Description</strong> &colon; &nbsp;{{ role.description }}
            </p>
            <p class="flow-text">
                <strong>Created Date</strong> &colon; &nbsp; &#128197; &nbsp;{{ role.created_at.strftime("%d %b %Y") }}
            </p>
            <p class="flow-text">
                <strong>Created Time</strong>&colon; &nbsp; &#128337; &nbsp;{{ role.created_at.strftime("%H:%M:%S") }}
            </p>
            <p class="flow-text">
                <strong>Status</strong> &colon; &nbsp; {{ render_status_text(role.active) }}
            </p>
            <p class="flow-text">
                <strong>Assigned Users:</strong> &nbsp; {{ users_role_count }}
                &nbsp; {{ "users" if users_role_count > 1 else "user" }}
            </p>
        {% endcall %}
    </div>
{% endcall %}

{% endblock %}