{% extends 'base.html' %}

{% from "components.html" import section, panel_card, table %}
{% from "elements.html" import render_button, render_subtext %}

{% block main %}

    {% call section("Roles", head_description, count=roles) %}
        <!-- Roles Overview Table -->
        <div class="col s12">
            {% call panel_card() %}
                {% if roles %}
                    {% call table(["Name", "Description", "Users"]) %}
                        {% for role in roles %}
                            {% set role_url = url_for('iam.role.get_role', role_id=role.id) %}
                            {% set view_role_permitted =  current_user.has_permission("iam.read.role") %}
                            {% set set_hyperlink = 'href='+ role_url if view_role_permitted %}
                            <tr>
                                <td><a {{ set_hyperlink }}><strong>{{ role.name|un_snake|title }}</strong></a></td>
                                <td>{{ role.description|capitalize }}</td>
                                <td>{{ role.users|length }}</td>
                            </tr>
                        {% endfor %}
                    {% endcall %}
                {% else %}
                    <h3 class="center-align">No roles were found.</h3>
                {% endif %}
            {% endcall %}
        </div>
    {% endcall %}

{% endblock %}