{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card, modal, danger_zone_card, summary_card %}
{% from "macros/ui_components.html" import render_button, render_modal_button, table, render_form, render_status_text %}

{% block main %}

{% set button_html %}
{% if current_user.has_permission("menu.update.category") %}
    {{ render_button("Edit", "filled", url_for("menu.category.update_category", category_id=category.id)) }}
{% endif %}
{% endset %}

{% call page_section(category.name|title, category.description, button=button_html) %}

    <!-- Summary Card -->
    <div class="col s12">
        {{ summary_card(category) }}
    </div>

    <!-- Assigned Items Card -->
    <div class="col s12">
        {% call panel_card("Assigned Groups", count=category.menu_groups) %}
            {% if category.menu_groups %}
                {% call table(["Group", "Description"]) %}
                    {% for menu_group in category.menu_groups %}
                        <tr>
                            <td>
                                <a href="{{ url_for("menu.group.get_group", group_id=menu_group.id) }}">
                                    {{ menu_group.name }}
                                </a>
                            </td>
                            <td>No Description</td>
                        </tr>
                    {% endfor %}
                {% endcall %}
            {% else %}
                <h5 class="center-align">No Groups Assigned</h5>
            {% endif %}
        {% endcall %}
    </div>

    {% if current_user.has_permission("menu.delete.category") %}
        <!-- Danger Zone Card -->
        <div class="col s12">
            {% set message = "All menu groups and items associated with this category will be affected." %}
            {{ danger_zone_card(category.active, "category", form, url_for("menu.category.delete_category", category_id=category.id), message) }}
        </div>
    {% endif %}

{% endcall %}

{% endblock %}