{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}
{% from "macros/ui_components.html" import table, render_active_icon, render_button %}

{% block main %}
{% set header_description = "Manage menu category to organize and group items in your menu" %}
{% set button_html %}
{% if current_user.has_permission("menu.create.category") %}
    {{ render_button("Create Category", "filled", "#") }}
{% endif %}
{% endset %}

{% call page_section("Categories", description=header_description, button=button_html) %}

    <div class="col s12">
        {% if categories %}
            {% call panel_card() %}
                {% call table(["Name", "Active"]) %}
                    {% for category in categories %}
                        {% set active_color = "success-text" if category.active else "danger-text" %}
                        <tr>
                            <td>
                                {% if current_user.has_permission("menu.read.category") %}
                                    <a href="{{ url_for("menu.category.get_category", category_id=category.id) }}">
                                        {{ category.name }}
                                    </a>
                                {% else %}
                                    {{ category.name }}
                                {% endif %}
                            </td>
                            <td>
                                {{ render_active_icon(category.active) }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endcall %}
            {% endcall %}
        {% endif %}
    </div>

{% endcall %}

{% endblock %}