{% extends 'base.html' %}

{% block main %}

    <section>

        <div class="container">

            <h5>Change Username</h5>
            <hr>
            <p>Changing your username requires approval from administrator.</p>
            <button class="btn primary">Change Username</button>

            <h5>Update Email</h5>
            <hr>
            <p>Changing your email requires verification from old and new emails.</p>
            <button class="btn primary">Change Email</button>

        </div>

    </section>

{% endblock %}