{% extends 'base.html' %}

{% from "macros/_cards.html" import icon_card %}

{% block main %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col s6 m4 offset-m2">
                    {{ icon_card("table_restaurant", "Dine-In", "") }}
                </div>
                <div class="col s6 m4">
                    {{ icon_card("takeout_dining", "Takeout", "") }}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col s6">

            </div>
        </div>
    </section>
    {##}
    {#    <section>#}
    {#        <table class="highlight centered">#}
    {#            {{ render_thead(["Status", "Order", "Customer", "Time", "Actions"]) }}#}
    {#            <tbody>#}
    {#            <tr>#}
    {#                <td>#}
    {#                    <i class="material-icons green-text">radio_button_checked</i>#}
    {#                </td>#}
    {#                <td>#12</td>#}
    {#                <td><b>7098</b></td>#}
    {#                <td>07:35PM</td>#}
    {#                <td>#}
    {#                    <a href="" class="btn filled">view</a>#}
    {#                </td>#}
    {#            </tr>#}
    {#            </tbody>#}
    {#        </table>#}
    {#    </section>#}

{% endblock %}