{% extends 'base.html' %}


{% block main %}

    <section>

        <div class="container">

            <div class="row">

                <div class="col s12 m4 offset-m4">
                    <div class="card">
                        <div class="card-content">
                            <table class="striped highlight">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td><a href="">{{ user.username.title() }}</a></td>
                                        <td>{{ user.role.name.title() if user.role else "N/A" }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

{% endblock %}