{% extends 'base.html' %}


{% block main %}

    <section>

        <div class="container">

            <div class="row">

                <div class="col s6">
                    <a href="{{ url_for('user.password') }}" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">password</i>
                                <h5>Password</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">fingerprint</i>
                                <h5>2FA</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="{{ url_for('user.questions') }}" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">verified_user</i>
                                <h5>Questions</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">api</i>
                                <h5>API Keys</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="{{ url_for('user.sessions') }}" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">devices</i>
                                <h5>Sessions</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="" class="white-text">
                        <div class="card">
                            <div class="card-content center-align">
                                <i class="large material-icons">visibility</i>
                                <h5>Logs</h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

        </div>

    </section>

{% endblock %}