{% import 'macros/_core.j2' as core %}
{% import "components/icons/icon.j2" as Icon %}

{# Public API: Btn.render(label, href='#', variant='filled', icon=None, class_=None, attrs=None) #}
{% macro render(label, href='#', variant='filled', icon=None, class_="", attrs=None) -%}
    {# Variants map to Materialize CSS #}
    {%- set variant_class = {
    'filled':   'btn filled',
    'tonal':    'btn tonal',
    'text':     'btn text',
    'outlined': 'btn outlined',
    'floating': 'btn-floating',
  }[variant] | default('btn') -%}

    {%- set classes = (variant_class + ' waves-effect waves-light ' + class_) -%}
    {% set label_classes = 'hide-on-small-and-down' if icon and label is defined else '' %}
    {% set icon_classes = 'left' if icon and label is defined %}

    <a href="{{ href }}" class="{{ classes }}" {{- core.attrs(attrs) -}}>
        {%- if icon -%}
            {{ Icon.render(icon) }}
        {%- endif -%}
        <span class="{{ label_classes }}">&nbsp;{{ label if label is defined }}</span>
    </a>
{%- endmacro %}
