{# ---------- IAM Base Template ---------- #}
{#
   Base template for authenticated IAM pages.
   Automatically includes sidenav and breadcrumbs.

   Usage:
   {% extends 'iam/_base.html' %}

   {% block main %}
       <!-- Your page content -->
   {% endblock %}
#}

{% extends 'layouts/admin.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('menu.static', filename='css/menu.min.css') }}">
{% endblock %}

{% block sidenav %}
    {% include 'menu/_sidenav.html' %}
{% endblock %}

{% block breadcrumb %}
    {% include 'macros/breadcrumbs.html' %}
{% endblock %}