{% extends 'menu/_base.html' %}

{% import 'macros/placeholder.html' as Placeholder %}
{% import 'components/_dropdown.html' as Dropdown %}

{% block main %}
    <section class="section">
        <div class="mx-4">
            <div class="card-panel">
                <div class="card-header">
                    <div class="flex-row space-between">
                        <h5>Categories <span class="counter">{{ categories|count if categories else '0' }}</span></h5>
                        <a href="" class="btn filled">
                            <i class="material-symbols-rounded">add</i>
                            <span class="hide-on-med-and-down">Add Category</span>
                        </a>
                    </div>
                    <p class="mt-0">Manage menu categories here.</p>
                </div>
                <div class="flex-row space-between">
                    <div>
                        <a href="" class="btn elevated">
                            <i class="material-symbols-rounded">search</i>
                            <span class="hide-on-med-and-down">&nbsp;Search</span>
                        </a>
                        <a href="" class="btn elevated">
                            <i class="material-symbols-rounded">filter_list</i>
                            <span class="hide-on-med-and-down">&nbsp;Filter</span>
                        </a>
                        <a href="" class="btn elevated">
                            <i class="material-symbols-rounded">sort</i>
                            <span class="hide-on-med-and-down">&nbsp;Sort</span>
                        </a>
                    </div>
                    <div>
                        <a class="btn text">
                            <i class="material-symbols-rounded left">file_download</i>
                            Import
                        </a>

                        <a class="btn text">
                            <i class="material-symbols-rounded left">file_upload</i>
                            Export
                        </a>
                    </div>
                </div>
                <table class="highlight striped">
                    <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Items</th>
                        <th>Order</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>N/A</td>
                            <td>{{ category.display_order }}</td>
                            <td>
                                {% if category.is_active %}
                                    <span class="green-text">Active</span>
                                {% else %}
                                    <span class="red-text">Inactive</span>
                                {% endif %}
                            </td>
                            <td>
                                {% set category_dropdown = category.id|string + '-dropdown' %}
                                {{ Dropdown.trigger(category_dropdown, aria_label='More') }}
                                {% call Dropdown.render(category_dropdown) %}
                                    {{ Dropdown.item('Edit') }}
                                    {{ Dropdown.item('Toggle Visibility') }}
                                    {{ Dropdown.item('Reorder') }}
                                    {{ Dropdown.item('Archive') }}
                                    {{ Dropdown.item('Delete') }}
                                {% endcall %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
