{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}

{% block main %}

    {% call page_section("Active Orders") %}
        {% if orders %}
            {% for order in orders %}
                <div class="col s6">
                    <a href="{{ url_for('order.get_order', order_id=order.id) }}" class="inherit-color">
                        {% call panel_card() %}
                            <h3 class="m-0 center-align">{{ order.order_number }}</h3>
                        {% endcall %}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="col s12">
                <h5>No active orders were found.</h5>
            </div>
        {% endif %}
    {% endcall %}

    <div class="fixed-action-btn">
        <button hx-post="{{ url_for('order.create_order') }}" class="btn-floating btn-large pulse">
            <i class="large material-symbols-rounded">add</i>
        </button>
    </div>

{% endblock %}