{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}
{% from "macros/ui_components.html" import render_button, table %}

{% block main %}

{% set button_html %}
{% if current_user.has_permission("iam.create.role") %}
    {{ render_button("Create Role", "filled", url=url_for('iam.display_create_role')) }}
{% endif %}
{% endset %}

{% call page_section(title, description, count=roles, button=button_html) %}
    <!-- Roles Overview Table -->
    <div class="col s12">
        {% call panel_card() %}
            {% call table(["Name", "Description"]) %}
                {% for role in roles %}
                    {% set role_url = url_for('iam.get_role', role_id=role.id) %}
                    {% set view_role_permitted =  current_user.has_permission("iam.read.role") %}
                    {% set set_hyperlink = 'href='+ role_url if view_role_permitted %}
                    <tr>
                        <td><a {{ set_hyperlink }}><strong>{{ role.name|un_snake|title }}</strong></a></td>
                        <td>{{ role.description|capitalize }}</td>
                    </tr>
                {% endfor %}
            {% endcall %}
        {% endcall %}
    </div>
{% endcall %}

{% endblock %}