{% extends 'base.html' %}

{% from "macros/_sections.html" import section, section_header %}
{% from "macros/_modals.html" import infoMessageModal, modal %}
{% from "macros/_buttons.html" import filled_button %}
{% from "macros/_tables.html" import table %}
{% from "macros/_cards.html" import panel_card %}

{% block main %}

    {% call section() %}
        {% set section_title = "Roles " + "(" +roles|length|string + ")" %}
        {% set section_description = "Define roles, assign access levels, and configure permissions across the system." %}

        {% call section_header(section_title, description=section_description, info_url="javascript:rolesInfoModal.showPopover()") %}

            {% call infoMessageModal("rolesInfoModal", "Roles") %}
                <p class="flow-text left-align">
                    Roles are predefined sets of permissions that determine what actions users can perform within the
                    system. Each role can be customized with specific access levels and permissions, allowing for
                    granular control over system functionality. Administrators can create new roles, modify existing
                    ones, and assign them to users as needed. This hierarchical approach to access management ensures
                    that users only have the permissions necessary for their responsibilities while maintaining system
                    security. Through role-based access control, you can efficiently manage user privileges across
                    different areas of the application, from basic operations to advanced administrative functions.
                </p>
            {% endcall %}

            {% if current_user.has_permission("iam.create.role") %}
                {{ filled_button("Create Role", url=url_for('iam.display_create_role')) }}
            {% endif %}

        {% endcall %}


        <div class="row">
            <!-- Roles Overview Table -->
            <div class="col s12">
                {% call panel_card() %}
                    {% call table(["Name", "Description"]) %}
                        {% for role in roles %}
                            {% set role_name = role.name.replace("_", " ")|title %}
                            {% set role_url = url_for('iam.get_role', role_id=role.id) %}
                            {% set view_role_permitted =  current_user.has_permission("iam.read.role") %}
                            {% set set_hyperlink = 'href='+ role_url if view_role_permitted %}
                            <tr>
                                <td><a {{ set_hyperlink }}><strong>{{ role_name }}</strong></a></td>
                                <td>{{ role.description|capitalize }}</td>
                            </tr>
                        {% endfor %}
                    {% endcall %}
                {% endcall %}
            </div>
        </div>

    {% endcall %}

{% endblock %}