{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}
{% from "macros/ui_components.html" import render_button, table %}

{% block main %}

    {% call page_section(title, description, count=policies) %}
        <div class="col s12">
            {% call panel_card() %}
                {% call table(["Policy Name"]) %}
                    {% for policy in policies %}
                        {% set policy_name = policy.name|un_snake|title|strip_spaces %}
                        <tr>
                            <td>
                                <a href="{{ url_for('iam.get_policy', policy_id=policy.id) }}">{{ policy_name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endcall %}
            {% endcall %}
        </div>
    {% endcall %}

{% endblock %}