{% extends 'base.html' %}

{% from "macros/_sections.html" import section, section_header %}
{% from "macros/_forms.html" import select_field, submit_field %}

{% block main %}

    {% call section() %}

        {{ section_header("Update Role", caller=False) }}

        <form action="{{ url_for("iam.update_user_role", user_id=user.id) }}" method="POST" class="row">
            {{ form.hidden_tag() }}
            {{ select_field(form.role_id) }}
            {{ submit_field() }}
        </form>

    {% endcall %}

{% endblock %}