{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}
{% from "macros/ui_components.html" import table, render_button %}

{% block main %}
    {% set sectionTitle = "Attach permission policies to " + role.name %}

    {% call page_section(sectionTitle) %}
        <div class="col s12">
            {% call panel_card('Current Policies') %}
                {% call table(["Policy Name", "Actions"]) %}
                    {% for role_policy in role.role_policies %}
                        {% set policyName = role_policy.policy.name|un_snake|title|strip_spaces %}
                        <tr>
                            <td>{{ policyName }}</td>
                            <td>
                                {{ render_button("Detach", "outlined", url_for('iam.detach_policy_from_role', role_id=role.id, policy_id=role_policy.policy.id), classes='danger') }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endcall %}
            {% endcall %}
        </div>

        <div class="col s12">
            {% call panel_card('Other policies') %}
                {% call table(["Policy Name", "Actions"]) %}
                    {% for unassigned_policy in unassigned_policies %}
                        {% set unassignedPolicyName = unassigned_policy.name|un_snake|title|strip_spaces %}
                        <tr>
                            <td>{{ unassignedPolicyName }}</td>
                            <td>
                                {{ render_button("Attach", "filled", url_for('iam.assign_policy_to_role', role_id=role.id, policy_id=unassigned_policy.id)) }}
                            </td>
                        </tr>
                    {% endfor %}

                {% endcall %}
            {% endcall %}
        </div>
    {% endcall %}

{% endblock %}