{% extends 'base.html' %}


{% block main %}

    <section>

        <div class="container">
            <div class="row">

                <div class="col s12">
                    <div class="card z-depth-2">
                        <div class="card-content">
                            <span class="card-title">Details</span>
                            {% if current_user.has_permission("update_product") %}
                                <form action="" method="POST" class="row">
                                    {{ form.hidden_tag() }}
                                    <div class="col s12 input-field">
                                        {{ form.name() }}
                                        {{ form.name.label }}
                                    </div>
                                    <div class="col s12 input-field">
                                        {{ form.description() }}
                                        {{ form.description.label }}
                                    </div>
                                    <div class="col s12 input-field">
                                        {{ form.price() }}
                                        {{ form.price.label }}
                                    </div>
                                    <div class="col s12 center-block">
                                        <button type="submit" class="btn waves-effect waves-light">Update</button>
                                    </div>
                                </form>
                            {% else %}
                                <p>Name: {{ product.name }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>


{% endblock %}