{% extends 'base.html' %}


{% block main %}

    <section>

        <div class="container">
            <form action="" method="POST" class="row">
                {{ form.hidden_tag() }}
                <div class="col s12 input-field">
                    {{ form.username() }}
                    {{ form.username.label }}
                </div>
                <div class="col s12 input-field">
                    {{ form.password() }}
                    {{ form.password.label }}
                </div>
                <div class="s12 center-block">
                    {{ form.submit(class="btn") }}
                </div>
            </form>
        </div>

    </section>

{% endblock %}