{% from "elements.html" import render_nav_link, render_icon %}

<header>
    <nav class="nav navbar">
        <div class="nav-wrapper">
            {#  ========== Left Menu ========== #}
            <ul>
                {% if back_url is defined %}
                    <li>
                        <a href="{{ back_url }}" class="waves-effect">
                            {{ render_icon("arrow_back", "left") }}
                            <span class="hide-on-small-and-down">Back</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a data-target="mainMenu" class="sidenav-trigger">
                        {{ render_icon("menu", "left") }}
                        <span class="hide-on-small-only">&nbsp;Menu</span>
                    </a>
                </li>
            </ul>
            {#  ========== Menu Title ========== #}
            <p class="brand-logo center my-0 flow-text">
                {{ nav_title|truncate(15) if nav_title is defined else business_name|truncate(15) }}
            </p>

            {#  ========== Right Menu ========== #}
            <ul class="right">
                <li>
                    <a data-target="userMenu" class="sidenav-trigger">
                        {{ render_icon("account_circle", "left") }}
                        <span class="hide-on-small-only">&nbsp;{{ current_user.username|capitalize }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>