{% extends 'base.html' %}

{% import "components/sections/section.j2" as Section %}
{% import "components/cards/card.j2" as Card %}
{% import "components/tables/datatable.j2" as Table %}

{% block main %}
    <section class="section container">
        {{ Section.header("Permissions") }}
        <div class="row">
            <div class="col s12">
                {% call () Card.render() %}

                    {% call () Table.render(["Name", "Description"]) %}
                        {% for permission in permissions %}
                            <tr>
                                <td>{{ permission.name }}</td>
                                <td>{{ permission.description }}</td>
                            </tr>
                        {% endfor %}

                    {% endcall %}

                {% endcall %}
            </div>
        </div>
    </section>
{% endblock %}