{% extends 'base.html' %}

{% import "components/buttons/button.j2" as Button %}
{% import "components/cards/card.j2" as Card %}
{% import "components/tables/datatable.j2" as Table %}
{% import "components/sections/section.j2" as Section %}

{% block main %}

    <section class="section container">

        {% set description = "Groups help you organize users together. By creating groups, you can easily manage what multiple users can do by giving permissions to the entire group instead of each user individually." %}
        {{ Section.header("Groups", description) }}
        <div class="row">
            <div class="col s12">
                {% call () Card.render() %}

                    {% if groups %}
                        <table class="section highlight">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for("iam.view_group", group_id=group.id) }}">{{ group.name }}</a>
                                    </td>
                                    <td>{{ group.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    {% if not groups %}
                        {% include "_partials/empty_state.html" %}
                    {% endif %}

                {% endcall %}
            </div>
        </div>
    </section>


    <div class="fixed-action-btn">
        {% set btn_class = ('pulse btn-large' if not groups else 'btn-large') %}
        {{ Button.render(icon="add", href=url_for("iam.create_group"), variant="floating", class_=btn_class) }}
    </div>

{% endblock %}