{% extends 'base.html' %}

{% import "components/sections/section.j2" as Section %}
{% import "components/cards/icon_card.j2" as IconCard %}

{% block main %}

    <section class="section container">
        {{ Section.header(user.username|title) }}
        <div class="row">
            <div class="col s6">
                <a href="{{ url_for("iam.list_user_permissions", user_id=user.id) }}">
                    {{ IconCard.render("security", "Permissions") }}
                </a>
            </div>
            <div class="col s6">
                <a href="{{ url_for("iam.list_user_groups", user_id=user.id) }}">
                    {{ IconCard.render("groups", "Groups") }}
                </a>
            </div>
            <div class="col s6">
                <a href="">
                    {{ IconCard.render("delete", "Delete") }}
                </a>
            </div>
        </div>
    </section>

{% endblock %}