{% extends 'base.html' %}

{% from "components.html" import section, panel_card %}
{% from "macros/cards.html" import render_icon_card %}

{% block main %}

    {% call section(branch.name) %}
        <div class="col s6 m4 l3">
            {{ render_icon_card("edit", "Edit Name", "") }}
        </div>

        <div class="col s6 m4 l3">
            {{ render_icon_card("location_on", "Address", "") }}
        </div>

        <div class="col s6 m4 l3">
            {{ render_icon_card("contact_page", "Contact", "") }}
        </div>

        <div class="col s6 m4 l3">
            {{ render_icon_card("settings", "Settings", "") }}
        </div>

        <div class="col s6 m4 l3">
            {{ render_icon_card("info", "Info", "") }}
        </div>

    {% endcall %}

{% endblock %}