{% extends 'base.html' %}

{% from "components.html" import section, panel_card %}
{% from "elements.html" import table %}

{% block main %}
    {% set branches_description = "Manage your restaurant branches and their information. View, create, edit, and control branch operations from this centralized dashboard." %}
    {% set create_branch_button = {"text": "Create Branch", "href": "", "icon": "add"} %}
    {% call section("Branches", branches_description, count=branches, button=create_branch_button) %}

        <div class="col s12">
            {% if branches %}
                {% call panel_card() %}
                    {% call table(["ID", "Branch Name", "Address", "City", "State", "Manager", "Phone", "Email"]) %}
                        {% for branch in branches %}
                            <tr>
                                <td>{{ branch.id }}</td>
                                <td>
                                    <a href="{{ url_for("branch.get_branch", branch_id=branch.id) }}">
                                        {{ branch.name }}
                                    </a>
                                </td>
                                <td>{{ branch.address }}</td>
                                <td>{{ branch.city}}</td>
                                <td>{{ branch.state }}</td>
                                <td>John Doe</td>
                                <td>{{ branch.phone|phone}}</td>
                                <td>{{ branch.email }}</td>
                            </tr>
                        {% endfor %}

                    {% endcall %}
                {% endcall %}
            {% endif %}
        </div>

    {% endcall %}

{% endblock %}