<!-- Bottom Nav -->
<div class="navbar-fixed" style="position: fixed; bottom: 0; left: 0; right: 0; z-index: 999;">
    <nav class="nav navbar">
        <ul class="flex-center">
            <li>
                <a href="{{ url_for("dashboard") }}" class="btn-flat inherit-height">
                    <i class="material-symbols-rounded left">dashboard</i>&nbsp;
                    <span class="hide-on-small-only">Home</span>
                </a>
            </li>
            <li>
                <a href="" class="btn-flat inherit-height">
                    <i class="material-symbols-rounded left">receipt_long</i>&nbsp;
                    <span class="hide-on-small-only">Orders</span>
                </a>
            </li>
            <li>
                <a href="" class="btn-flat inherit-height">
                    <i class="material-symbols-rounded left">table_restaurant</i>&nbsp;
                    <span class="hide-on-small-only">Table</span>
                </a>
            </li>
        </ul>
    </nav>
</div>