{% from "macros/ui_components.html" import render_icon %}

<div class="navbar-fixed">
    <nav class="nav navbar">
        <div class="nav-wrapper">
            {#  ========== Left Menu ========== #}
            {% if current_user.is_authenticated %}
                {% if back_url %}
                    <ul>
                        <li>
                            <a href="{{ back_url }}">
                                {{ render_icon("arrow_back") }}
                            </a>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}

            {#  ========== Menu Title ========== #}
            <a href="" class="brand-logo center">
                {{ title|truncate(8) if title else "LibrePOS" }}
            </a>

            {#  ========== Right Menu ========== #}
            {% if current_user.is_authenticated %}
                <ul class="right">
                    <li>
                        <a href="">
                            {{ render_icon("notifications") }}
                        </a>
                    </li>
                    <li>
                        <a data-target="sidenav" class="sidenav-trigger">
                            {% set icon_name = sidenav.icon if sidenav else "account_circle" %}
                            {{ render_icon(icon_name) }}
                        </a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </nav>
</div>