{% from "macros/ui_components.html" import render_icon %}

<ul id="sidenav" class="sidenav right">

    {#  Header  #}
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{{ url_for('static', filename='images/polygon_background.png') }}" alt="default">
            </div>
            <img class="circle" src="{{ url_for('static', filename=current_user.image|safe) }}"
                 alt="{{ current_user.username }}">
            <span class="name">{{ current_user.username }}</span>
            <span class="email">{{ current_user.email }}</span>
        </div>
    </li>

    {#  Content  #}
    <li>
        <a href="">
            {{ render_icon("dashboard") }}
            Dashboard
        </a>
    </li>

    <li>
        <a href="{{ url_for('order.list_orders') }}">
            {{ render_icon("list_alt") }}
            Orders
        </a>
    </li>

    <li>
        <a href="{{ url_for("settings.home") }}">
            {{ render_icon("settings") }}
            Settings
        </a>
    </li>

    <div class="divider"></div>

    <li>
        <a href="{{ url_for("iam.auth.logout") }}">
            {{ render_icon("logout") }}
            Logout
        </a>
    </li>

</ul>