{% import "components/icon.j2" as Icon %}
{% import "components/navbar.j2" as Navbar %}
{% import "components/footer.j2" as FooterNav %}

<!doctype html>
<html lang="en">
{% include 'layout/_head.html' %}
<body>

{% if current_user.is_authenticated %}
    <header>
        <nav class="nav navbar">
            <div class="nav-wrapper">
                {#========== Left Menu ==========#}
                <ul>
                    {{ Navbar.sidenav_trigger() }}
                    {% if back_url is defined %}
                        {{ Navbar.item("Back", "arrow_back", url=back_url) }}
                    {% endif %}
                </ul>

                {#========== Menu Title ==========#}
                {% set nav_title = title if title is defined else business_name %}
                {{ Navbar.title(nav_title) }}

                {#========== Right Menu ==========#}
                <ul class="right">
                    {{ Navbar.dropdown_trigger(icon="apps", target="apps-dropdown") }}

                    <li>
                        <a href="" class="dropdown-trigger"
                           data-target="user-dropdown">
                            <img src="{{ url_for("static", filename="images/"+current_user.profile.image) }}"
                                 alt="User Avatar" class="circle avatar-nav">
                        </a>
                    </li>
                </ul>

                {% include 'layout/_user_dropdown.html' %}
                {% include "layout/_app_dropdown.html" %}

            </div>
        </nav>

        {% block sidenav %}{% endblock %}

    </header>
{% endif %}


<main id="main">
    {% block breadcrumb %}{% endblock %}
    {% block main %}{% endblock %}
</main>

{% block footer %}{% endblock %}


{% block scripts %}{% endblock %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <template id="message-template-{{ category }}">
                <div class="{{ category }}">
                    <p class="flow-text"><b>{{ category|upper }}: </b> {{ message|safe }}</p>
                </div>
            </template>
        {% endfor %}
    {% endif %}
{% endwith %}
<!--MaterializeCSS JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.2.2/dist/js/materialize.min.js"></script>
<!--Application JavaScript-->
<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
<!-- Flask Message -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    new M.Toast({
                        toastId: 'message-template-{{ category }}',
                    });
                {% endfor %}
            {% endif %}
        {% endwith %}
    });
</script>
<script>
    document.body.addEventListener("htmx:configRequest", (event) => {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        event.detail.headers['X-CSRFToken'] = csrfToken;
    });
</script>
</body>
</html>