{% from "elements.html" import render_icon, render_button, render_divider, render_floating_button %}

<!--====================-->
<!-- TABLE COMPONENTS -->
<!--====================-->
{% macro table(headers=None, cls='') %}

    <table class="striped highlight {{ cls }}">
        {% if headers is defined %}
            <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}
        <tbody>
        {{ caller() }}
        </tbody>
    </table>

{% endmacro %}

<!--====================-->
<!-- LAYOUT COMPONENTS -->
<!--====================-->

{% macro section(title, message, count=0, cls="container") %}
    <section class="section {{ cls }}">
        <hgroup>
            <h2 class="my-2">
                {{ title if title is defined }}
                {% if count %}
                    <span class="grey-text text-lighten-1 flow-text">&lpar;{{ count|length|string }}&rpar;</span>
                {% endif %}
            </h2>
            {% if message is defined %}
                <p class="grey-text flow-text my-1">{{ message }}</p>
            {% endif %}
        </hgroup>
        {{ render_divider(cls="mb-4") }}
        <div class="row">
            {{ caller() }}
        </div>
    </section>
{% endmacro %}


<!--====================-->
<!-- MODAL COMPONENTS -->
<!--====================-->

{% macro modal(id, title, message=None, style='primary') %}

    <div id="{{ id }}" class="modal {{ style }}-border" popover>
        <div class="modal-header">
            <div class="flex space-between">
                <h4>{{ title }}</h4>
                <button class="modal-close waves-effect btn-flat" popovertarget="{{ id }}">
                    {{ render_icon("close", "grey-text") }}
                </button>
            </div>
            {% if message %}
                <p class="grey-text flow-text my-1">{{ message }}</p>
            {% endif %}
            {{ render_divider() }}
        </div>
        <div class="modal-content">
            {{ caller() }}
        </div>
        <div class="modal-footer">
            <button class="waves-effect btn-flat grey-text" popovertarget="{{ id }}">Close</button>
        </div>
    </div>

{% endmacro %}


<!--====================-->
<!-- CARD COMPONENTS -->
<!--====================-->

{#  BASIC CARD  #}
{% macro card(title, cls='') %}

    <div class="card {{ cls }}">
        <div class="card-content">
            <span class="card-title">{{ title }}</span>
            {{ caller() }}
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
        </div>
    </div>

{% endmacro %}

{#  CARD PANEL  #}
{#{% macro panel_card(title=None, count=None, button=None, cls='') %}#}
{#    <div class="card-panel z-depth-2 {{ cls }}">#}
{#        {% if title %}#}
{#            <div class="flex space-between">#}
{#                <h4 class="my-2">#}
{#                    {{ title }}#}
{#                    {% if count %}#}
{#                        <span class="grey-text">({{ count|length|string }})</span>#}
{#                    {% endif %}#}
{#                </h4>#}
{#                {% if button %}#}
{#                    {{ render_button(button.get("text"), href=button.get("href"), icon=button.get("icon")) }}#}
{#                {% endif %}#}
{#            </div>#}
{#            {{ render_divider() }}#}
{#        {% endif %}#}
{#        {% if caller is defined %}#}
{#            {{ caller() }}#}
{#        {% endif %}#}
{#    </div>#}
{#{% endmacro %}#}

{% macro card_panel(cls) %}
    <div class="card-panel z-depth-2 {{ cls if cls is defined }}">
        {{ caller() }}
    </div>
{% endmacro %}


<!--=======================-->
<!-- NAVIGATION COMPONENTS -->
<!--=======================-->

{% macro collapsible_nav_link(text, icon='skull') %}
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">
                    {{ render_icon(icon, "left") }}
                    {{ text }}
                </a>
                <div class="collapsible-body">
                    <ul>
                        {{ caller() }}
                    </ul>
                </div>
            </li>
        </ul>
    </li>
{% endmacro %}

<!--===================-->
<!-- UI COMPONENTS -->
<!--===================-->

{% macro fixed_action_button(icon, url) %}
    <div class="fixed-action-btn mb-4">
        {{ render_floating_button(icon, url) }}
        {% if caller is defined %}
            {{ caller() }}
        {% endif %}
    </div>
{% endmacro %}