{% from "elements.html" import render_icon, render_button, render_divider, render_floating_button %}

<!--====================-->
<!-- TABLE COMPONENTS -->
<!--====================-->
{% macro table(headers=None, cls='') %}

    <table class="striped highlight {{ cls }}">
        {% if headers is defined %}
            <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}
        <tbody>
        {{ caller() }}
        </tbody>
    </table>

{% endmacro %}

<!--====================-->
<!-- LAYOUT COMPONENTS -->
<!--====================-->

{% macro section(title, msg, cls="container") %}
    <section class="section {{ cls }}">
        <hgroup>
            <h2 class="my-2">
                {{ title|title if title is defined }}
            </h2>
            {% if msg is defined %}
                <p class="grey-text flow-text my-1">{{ msg }}</p>
            {% endif %}
        </hgroup>
        {{ render_divider(cls="mb-4") }}
        <div class="row">
            {{ caller() }}
        </div>
    </section>
{% endmacro %}


<!--====================-->
<!-- MODAL COMPONENTS -->
<!--====================-->

{% macro modal(id, title, message=None, style='primary') %}

    <div id="{{ id }}" class="modal {{ style }}-border" popover>
        <div class="modal-header">
            <div class="flex space-between">
                <h4>{{ title }}</h4>
                <button class="modal-close waves-effect btn-flat" popovertarget="{{ id }}">
                    {{ render_icon("close") }}
                </button>
            </div>
            {% if message %}
                <p class="grey-text flow-text my-1">{{ message }}</p>
            {% endif %}
            {{ render_divider() }}
        </div>
        <div class="modal-content">
            {{ caller() }}
        </div>
        <div class="modal-footer">
            <button class="waves-effect btn-flat" popovertarget="{{ id }}">Close</button>
        </div>
    </div>

{% endmacro %}


<!--====================-->
<!-- CARD COMPONENTS -->
<!--====================-->

{#  BASIC CARD  #}
{% macro card(title, actions, cls='') %}

    <div class="card hoverable z-depth-2 {{ cls }}">
        <div class="card-content">
            <span class="card-title">{{ title }}</span>
            {{ caller() }}
        </div>
        {% if actions is defined %}
            <div class="card-action">
                {% for action in actions %}
                    <a href="{{ action.url }}">{{ action.text }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endmacro %}


<!--=======================-->
<!-- NAVIGATION COMPONENTS -->
<!--=======================-->

{% macro collapsible_nav_link(text, icon='skull') %}
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">
                    {{ render_icon(icon, "left") }}
                    {{ text }}
                </a>
                <div class="collapsible-body">
                    <ul>
                        {{ caller() }}
                    </ul>
                </div>
            </li>
        </ul>
    </li>
{% endmacro %}

{% macro dropdown_menu(text) %}
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>
{% endmacro %}

<!--===================-->
<!-- UI COMPONENTS -->
<!--===================-->

{% macro fixed_action_button(url, icon="add") %}
    <div class="fixed-action-btn mb-4">
        {{ render_floating_button(icon, url) }}
        {% if caller is defined %}
            {{ caller() }}
        {% endif %}
    </div>
{% endmacro %}