<!--====================-->
<!-- ICON ELEMENTS -->
<!--====================-->
{% macro render_icon(icon, cls='') %}
    {% set icon_style = "material-symbols-rounded " %}
    {% set icon_cls = icon_style + cls %}

    <i class="{{ icon_cls | trim }}">{{ icon }}</i>

{% endmacro %}

{% macro render_status_icon(data=True) %}
    {% set active_color = "success-text" if data else "error-text" %}
    {% set active_icon = "radio_button_checked" if data else "radio_button_unchecked" %}

    {{ render_icon(active_icon, cls=active_color) }}

{% endmacro %}


<!--====================-->
<!-- BUTTON ELEMENTS -->
<!--====================-->
{% set base_button_classes = "waves-effect waves-light rounded" %}

{% macro render_button(text, href="!#", style="filled", icon=None, cls='') %}
    {%- set btn_cls = style + " " + base_button_classes + " " + cls -%}

    <a href="{{ href }}" class="btn {{ btn_cls }}">
        {%- if icon -%}
            {{ render_icon(icon) }} &nbsp;
            <span class="hide-on-small-only">{{ text }}</span>
        {% else %}
            {{ text }}
        {%- endif -%}
    </a>

{% endmacro %}

{% macro render_modal_button(text, id, style="filled", icon=None, cls='') %}
    {%- set btn_cls = style + " " + base_button_classes + " " + cls -%}

    <button class="btn {{ btn_cls }}" popovertarget="{{ id }}">
        {%- if icon -%}
            {{ render_icon(icon) }} &nbsp;
            <span class="hide-on-small-only">{{ text }}</span>
        {% else %}
            {{ text }}
        {%- endif -%}
    </button>

{% endmacro %}

{% macro render_floating_button(icon, href, cls='filled') %}
    <a href="{{ href }}" class="btn-floating btn-large {{ cls if cls is defined }}">
        {{ render_icon(icon) }}
    </a>
{% endmacro %}


<!--====================-->
<!-- IMAGE ELEMENTS -->
<!--====================-->
{% macro render_image(img, alt="", caption="", width="250", cls="") %}

    <figure>
        <img class="materialboxed {{ cls }}" data-caption="{{ caption }}" width="{{ width }}" alt="{{ alt }}"
             src="{{ img|safe }}">
    </figure>

{% endmacro %}


<!--====================-->
<!-- BADGE ELEMENTS -->
<!--====================-->
{% macro render_badge(data, new=False) %}
    {% set cls = 'new badge' if new else 'badge' %}
    <span class="{{ cls }}">{{ data }}</span>
{% endmacro %}

<!--====================-->
<!-- DIVIDER ELEMENTS -->
<!--====================-->
{% macro render_divider(cls='') %}
    <hr class="divider {{ cls }}">
{% endmacro %}


<!--====================-->
<!-- TEXT ELEMENTS -->
<!--====================-->
{% macro render_status_text(status=True) %}
    {% if status %}
        <span class="success-text">Active</span>
    {% else %}
        <span class="danger-text">Disabled</span>
    {% endif %}
{% endmacro %}

<!--=======================-->
<!-- NAVIGATION ELEMENTS -->
<!--=======================-->

{% macro render_nav_link(text, icon='skull', href='!#') %}
    <li>
        <a href="{{ href if href is defined }}" class="waves-effect">
            {{ render_icon(icon, "left") }}
            <span>{{ text }}</span>
        </a>
    </li>
{% endmacro %}
