{% from "macros/ui_components.html" import render_numpad %}

<div class="modal-header">
    <h4 class="center-align">Quantity</h4>
</div>
<div class="modal-content">
    <form action="{{ url_for('order.add_item_to_order') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="order_id" value="{{ order_id }}">
        <input type="hidden" name="item_id" value="{{ item_id }}">
        <input type="hidden" name="item_price" value="{{ item_price }}">

        <!-- Quantity Input -->
        <div class="row mb-4">
            <div class="col s8 input-field center-align">
                <input id="keypadQuantity" type="number" name="quantity" readonly min="1">
                <label for="keypadQuantity" class="active"></label>
            </div>
            <div class="col s4">
                <button class="btn-large" onclick="deleteLastChar('keypadQuantity')" type="button">
                    <span class="material-symbols-rounded">backspace</span>
                </button>
            </div>
        </div>

        {{ render_numpad("keypadQuantity") }}

        <!-- Numpad Grid -->
        {#        <div class="row center-align mb-4">#}
        {#            <!-- Row 1 -->#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="1">1#}
        {#                </button>#}
        {#            </div>#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="2">2#}
        {#                </button>#}
        {#            </div>#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="3">3#}
        {#                </button>#}
        {#            </div>#}
        {##}
        {#            <!-- Row 2 -->#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="4">4#}
        {#                </button>#}
        {#            </div>#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="5">5#}
        {#                </button>#}
        {#            </div>#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="6">6#}
        {#                </button>#}
        {#            </div>#}
        {##}
        {#            <!-- Row 3 -->#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="7">7#}
        {#                </button>#}
        {#            </div>#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="8">8#}
        {#                </button>#}
        {#            </div>#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="9">9#}
        {#                </button>#}
        {#            </div>#}
        {##}
        {#            <!-- Row 4 -->#}
        {#            <div class="col s4">#}
        {#                <button type="reset" class="btn-large red lighten-2">#}
        {#                    <i class="material-symbols-rounded">clear</i></button>#}
        {#            </div>#}
        {#            <div class="col s4">#}
        {#                <button type="button" class="btn-large numpad-btn" onclick="addToInput(this, 'keypadQuantity')"#}
        {#                        value="0">0#}
        {#                </button>#}
        {#            </div>#}
        {#            <div class="col s4">#}
        {#                <button class="btn-large green lighten-1" type="submit">#}
        {#                    <i class="material-symbols-rounded">check</i></button>#}
        {#            </div>#}
        {#        </div>#}
    </form>
</div>