{% extends 'base.html' %}


{% block main %}

    <section>

        <div class="container">
            <div class="row">

                <div class="col s12">
                    {% if order.items %}
                        <table class="striped highlight centered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>QT</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in order.items %}
                                <tr>
                                    <td class="left">{{ item.menu_item.name }}</td>
                                    <td>
                                        <button class="btn tonal">{{ item.quantity }}</button>
                                    </td>
                                    <td class="right-align">
                                        <button class="btn-flat danger-text"><span
                                                class="small material-symbols-rounded">remove</span></button>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}
                </div>

            </div>
        </div>

    </section>

    <div class="fixed-action-btn">
        <button class="btn-floating btn-large" popovertarget="menuModal" hx-trigger="click"
                hx-get="{{ url_for('menu.get_hx_categories', order_id=order.id) }}" hx-target="#menuModal"
                hx-swap="innerHTML">
            <i class="large material-symbols-rounded">add</i>
        </button>
    </div>

    <div id="menuModal" class="modal bottom-sheet" popover>

    </div>

{% endblock %}