a {
    color: revert;
}

.navbar .brand-logo,
.navbar ul:not(.dropdown-content) > li > a {
    color: var(--foreground-color);
}

.modal.bottom-sheet {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.outlined {
    letter-spacing: 1px;
    border: 2px solid;
}

.modal,
.modal.bottom-sheet {
    max-height: 80%;
}

ul {
    padding-inline-start: 0;
}

.card-panel {
    margin: 0;
}

.divider {
    border-radius: var(--border-radius);
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}