.navbar .brand-logo,
.navbar a,
.navbar ul:not(.dropdown-content) > li > a {
    color: var(--md-sys-color-on-secondary-container);
}

.navbar .dropdown-content i, .navbar .dropdown-content i.material-icons, .navbar .dropdown-content i.material-symbols-outlined, .navbar .dropdown-content i.material-symbols-rounded, .navbar i.material-symbols-sharp {
    height: inherit;
    line-height: inherit;
}

.section {
    padding: 1rem;
}

ul {
    padding-inline-start: 0;
}

.card {
    background: rgba(255, 255, 255, 0.04);
}

.card .card-content .card-title{
    font-weight: 600;
}

/*.error {*/
/*    color: var(--md-sys-color-on-error);*/
/*}*/

/*@media only screen and (max-width: 992.99px) {*/
/*    .sidenav .auth-view {*/
/*        padding: var(--sidenav-padding);*/
/*    }*/
/*}*/

/*.sidenav .auth-view {*/
/*    margin-bottom: 0;*/
/*    padding: calc(var(--sidenav-padding) * 2);*/
/*}*/

.card .card-action {
    /*display: flex;*/
    /*justify-content: space-around;*/
    padding-bottom: 24px;
}

.card .card-action .btn.filled, .card .card-action .btn.tonal, .card .card-action .btn.elevated, .card .card-action .btn.outlined {
    margin: 0;
}

.card-panel {
    margin: 0;
}

.card-panel .card-title {
    font-size: 24px;
}

/*.card .card-title,*/
/*.card-panel .card-title {*/
/*    font-weight: 600;*/
/*}*/

/*.btn.outlined, .outlined.btn-small, .outlined.btn-large {*/
/*    background-color: rgba(0, 0, 0, 0);*/
/*    color: var(--md-sys-color-primary);*/
/*    border: 1px solid var(--md-sys-color-primary);*/
/*}*/
