a {
    color: revert;
}

.navbar .brand-logo,
.navbar ul:not(.dropdown-content) > li > a {
    color: var(--foreground-color);
}

.modal.bottom-sheet {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.outlined {
    letter-spacing: 1px;
    border: 2px solid;
}

.modal,
.modal.bottom-sheet {
    max-height: 80%;
}

.modal {
    --modal-background-color: color-mix(in srgb, var(--md-sys-color-surface), var(--md-sys-color-surface-tint) 2%);
}

ul {
    padding-inline-start: 0;
}

.card-panel {
    margin: 0;
}

@media only screen and (max-width: 992.99px) {
    .tabs .tab a {
        padding-top: 12px;
    }
}

.tabs {
    border-radius: var(--border-radius);
}

.page-footer {
    padding-top: 0 !important;
    margin-top: 0 !important;
    border-top: none !important;
    background-color: var(--secondary-background-color);
}

.divider {
    border-radius: var(--border-radius) !important;
}