{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card, summary_card, danger_zone_card %}
{% from "macros/ui_components.html" import render_button %}

{% block main %}
{% set button_html %}
{% if current_user.has_permission("menu.update.item") %}
    {{ render_button("Edit", "filled", url_for("menu.item.update_item", item_id=item.id)) }}
{% endif %}
{% endset %}

{% call page_section(item.name|title, item.description|capitalize, button=button_html) %}
    <!-- Summary panel -->
    <div class="col s12">
        {{ summary_card(item) }}
    </div>

    {% if current_user.has_permission("menu.delete.item") %}
        <!-- Danger Zone -->
        <div class="col s12">
            {{ danger_zone_card(item.active, "item", form, url_for("menu.item.delete_item", item_id=item.id)) }}
        </div>
    {% endif %}
{% endcall %}

{% endblock %}