{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}
{% from "macros/ui_components.html" import render_button, table, render_active_icon %}

{% block main %}

{% set button_html %}
{% if current_user.has_permission("menu.create.item") %}
    {{ render_button("Create Item", "filled", "#") }}
{% endif %}
{% endset %}

{% call page_section("Items", "View and manage menu items.", button=button_html) %}
    <div class="col s12">
        {% if items %}
            {% call panel_card() %}
                {% call table(["Name", "Price", "Active"]) %}
                    {% for item in items %}
                        <tr>
                            <td>
                                {% if current_user.has_permission("menu.read.item") %}
                                    <a href="{{ url_for('menu.item.get_item', item_id=item.id) }}">
                                        {{ item.name }}
                                    </a>
                                {% else %}
                                    {{ item.name }}
                                {% endif %}
                            </td>
                            <td>{{ item.price|currency }}</td>
                            <td>{{ render_active_icon(item.active) }}</td>
                        </tr>
                    {% endfor %}
                {% endcall %}
            {% endcall %}
        {% endif %}
    </div>
{% endcall %}

{% endblock %}