{% extends 'base.html' %}

{% from "macros/_sections.html" import section, section_header %}
{% from "macros/_modals.html" import warningModal, modal %}
{% from "macros/_icons.html" import icon %}
{% from "macros/_buttons.html" import button %}

{% block main %}

    {% call section() %}
        {% set users_role_count = role.users|length %}

        {% call section_header(role.name|title, role.description|capitalize, icon_name="lock_person") %}

            {{ button("delete", theme_classes="outlined", classes="danger") }}

        {% endcall %}

        <div class="card-panel">

            <!-- Role Header -->
            <div class="row g-1 valign-wrapper">
                <div class="col s8">
                    <h5 class="m-0">Summary</h5>
                </div>
                <div class="col s4 right-align">
                    {% if current_user.has_permission("role.update") %}
                        {{ button("Edit", href="javascript:editRoleModal.showPopover()", classes="right") }}
                        {% call modal("editRoleModal", "Edit Role") %}
                            <form action="{{ url_for('settings.update_user_role', role_id=role.id) }}" method="POST"
                                  class="row">
                                {{ form.hidden_tag() }}
                                <div class="input-field col s12 m6">
                                    <i class="material-symbols-rounded prefix">badge</i>
                                    {{ form.name() }}
                                    {{ form.name.label }}
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-symbols-rounded prefix">description</i>
                                    {{ form.description() }}
                                    {{ form.description.label }}
                                </div>
                                <div class="col s12">
                                    <div class="switch">
                                        <label>
                                            Disable
                                            {{ form.active() }}
                                            <span class="lever"></span>
                                            Active
                                        </label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <button class="btn filled center-block rounded" type="submit">
                                        {{ icon("save", classes="mr-2") }}Update Role
                                    </button>
                                </div>
                            </form>
                        {% endcall %}
                    {% endif %}
                </div>
            </div>

            <div class="divider my-4"></div>

            <!-- Role Metadata -->
            <div class="row g-1 valign-wrapper">
                <div class="col s12 m6">
                    <p class="valign-wrapper flow-text">
                        {{ icon("calendar_today", classes="mr-2") }}<strong>Creation Date:</strong>
                        &nbsp; {{ role.created_at|date }}
                    </p>
                    <p class="valign-wrapper flow-text">
                        {{ icon("person", classes="mr-2") }} <strong>Created by:</strong> &nbsp; System
                    </p>
                </div>

                <div class="col s12 m6">
                    <p class="valign-wrapper flow-text">
                        {{ icon("groups", classes="mr-2") }} <strong>Assigned Users:</strong>
                        &nbsp; {{ users_role_count }} &nbsp; {{ "users" if users_role_count > 1 else "user" }}
                    </p>
                    <p class="valign-wrapper flow-text">
                        {{ icon("verified_user", classes="mr-2") }} <strong>Status:</strong> &nbsp;
                        {% if role.active %}
                            <span class="success-text">Active</span>
                        {% else %}
                            <span class="danger-text">Disabled</span>
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>

    {% endcall %}

    <!-- Assigned Policies Section -->

    {% call section() %}

        {% call section_header("Policies", icon_name="policy") %}

            {% if current_user.has_permission("role_policies.create") %}

                {{ button("Assign Policies", href="javascript:assignPolicyModal.showPopover()", classes="right") }}

                {% call modal("assignPolicyModal", "Assign Policies") %}

                    <form action="{{ url_for('settings.update_user_role_policies', role_id=role.id) }}" method="POST"
                          class="row">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        {% for policy in unassign_policies|sort(attribute="name") %}
                            {% set policy_name = policy.name.replace("_", " ")|title %}

                            <div class="col s12 left-align">
                                <p class="my-0 flow-text">
                                    <label>
                                        <input type="checkbox" name="policy_{{ policy.id }}" value="{{ policy.id }}"/>
                                        <span style="font-size: large; letter-spacing: 2px;">{{ policy_name.replace(" ", "") }}</span>
                                    </label>
                                </p>
                            </div>
                        {% endfor %}


                        <!-- Submit -->
                        <div class="col s12">
                            <button class="btn filled rounded waves-effect center-block" type="submit">
                                <i class="material-symbols-rounded left mr-2">save</i> Assign Policies
                            </button>
                        </div>

                    </form>
                {% endcall %}
            {% endif %}
        {% endcall %}

        <ul class="collection with-header z-depth-1">
            {% for role_policy in role.role_policies %}
                {% set policy_name = role_policy.policy.name.replace("_", " ")|title %}

                <li class="collection-item py-4">
                    <span>{{ policy_name }}</span>
                    {% if current_user.has_permission("role_policies.delete") %}
                        <a href="javascript:removePolicyModal_{{ policy_name.replace(" ","_") }}.showPopover()"
                           class="secondary-content danger-text tooltipped" data-tooltip="Remove permission">
                            {{ icon("delete") }}
                        </a>
                        {% include "settings/modals/removePolicyModal.html" %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    {% endcall %}

{% endblock %}