{% extends 'base.html' %}

{% from "macros/_cards.html" import icon_card %}

{% block main %}

    <div class="container">
        <h4 class="center-align">Settings Overview</h4>
        <p class="grey-text text-darken-1 flow-text">
            Manage your application preferences, users, system configuration, and more.
        </p>

        <div class="row">

            {% if current_user.has_permission('system_settings.read') %}
                <!-- System Settings -->
                <div class="col s6 m4 l3">
                    {{ icon_card("settings_applications", "System", url_for('settings.system_settings')) }}
                </div>
            {% endif %}

            {% if current_user.has_permission('role.list') %}
                <!-- Roles Settings -->
                <div class="col s6 m4 l3">
                    {{ icon_card("lock_person", "Roles", url_for('settings.list_user_roles')) }}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}