{% extends 'base.html' %}

{% from "macros/_cards.html" import icon_card %}
{% from "macros/_sections.html" import section, section_header %}
{% from "macros/_buttons.html" import button %}
{% from "macros/_tables.html" import table %}
{% from "macros/_modals.html" import modal, infoMessageModal %}

{% block main %}

    {% call section() %}
        {% set section_title = "Roles " + "(" +roles|length|string + ")" %}
        {% set section_description = "Define roles, assign access levels, and configure permissions across the system." %}

        {% call section_header(section_title, description=section_description, info_url="javascript:rolesInfoModal.showPopover()") %}

            {% call infoMessageModal("rolesInfoModal", "Roles") %}
                <p class="flow-text left-align">
                    Roles are predefined sets of permissions that determine what actions users can perform within the
                    system. Each role can be customized with specific access levels and permissions, allowing for
                    granular control over system functionality. Administrators can create new roles, modify existing
                    ones, and assign them to users as needed. This hierarchical approach to access management ensures
                    that users only have the permissions necessary for their responsibilities while maintaining system
                    security. Through role-based access control, you can efficiently manage user privileges across
                    different areas of the application, from basic operations to advanced administrative functions.
                </p>
            {% endcall %}

            {% if current_user.has_permission("role.create") %}

                {{ button("Create Role", icon_name="add", href="addRoleModal", modal=True) }}

                {% call modal('addRoleModal', 'Create Role') %}

                    <form action="{{ url_for('settings.create_role') }}" method="POST" class="row">
                        {{ form.hidden_tag() }}

                        <div class="input-field col s12 m6">
                            <i class="material-symbols-rounded prefix">badge</i>
                            {{ form.name() }}
                            {{ form.name.label }}
                            <span class="supporting-text">Enter a meaningful name for this role.</span>
                        </div>

                        <div class="input-field col s12 m6">
                            <i class="material-symbols-rounded prefix">description</i>
                            {{ form.description() }}
                            {{ form.description.label }}
                            <span class="supporting-text">Add a short description for this role.</span>
                        </div>

                        <!-- Submit -->
                        <div class="col s12">
                            <button class="btn filled waves-effect center-block" type="submit">
                                <i class="material-symbols-rounded left mr-4">save</i> Create Role
                            </button>
                        </div>

                    </form>

                {% endcall %}

            {% endif %}

        {% endcall %}

        <!-- Roles Overview Table -->
        {% call table(['Role name', 'Description']) %}
            {% for role in roles %}
                {% set role_name = role.name.replace("_", " ")|title %}
                {% set role_url = url_for('settings.get_user_role', role_id=role.id) %}
                {% set view_role_permitted =  current_user.has_permission("role.read") %}
                {% set set_hyperlink = 'href='+ role_url if view_role_permitted %}

                <tr>
                    <td><a {{ set_hyperlink }}><strong>{{ role_name }}</strong></a></td>
                    <td>{{ role.description|capitalize }}</td>
                </tr>

            {% endfor %}
        {% endcall %}

    {% endcall %}

{% endblock %}