<div class="navbar-fixed">
    <nav class="nav navbar" role="banner" aria-label="Main navigation">
        <div class="nav-wrapper">
            <ul>
                <li><a data-target="main-menu" class="sidenav-trigger" aria-label="Open menu"><i
                        class="material-symbols-rounded" role="img" aria-hidden="true">menu</i></a></li>
            </ul>
            <a aria-label="Application logo" class="brand-logo center no-select">{{ appbar_title if appbar_title is defined else "LibrePOS" }}</a>
            <ul id="nav-mobile" class="right">
                <li><a class="dropdown-trigger" data-target="notifications-dropdown" aria-label="Notifications"><i class="material-symbols-rounded" role="img"
                                                             aria-hidden="true">notifications</i></a></li>
                <li><a href="" aria-label="Messages"><i class="material-symbols-rounded" role="img" aria-hidden="true">chat</i></a>
                </li>
                <li><a data-target="user-menu" class="sidenav-trigger" aria-label="Account"><i class="material-symbols-rounded" role="img" aria-hidden="true">account_circle</i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
