<nav class="nav navbar">
    <div class="nav-wrapper">
        <ul>
            <li><a href=""><i class="material-symbols-rounded">menu</i></a></li>
        </ul>
        <a href="#" class="brand-logo center">{{ appbar_title if appbar_title is defined else "LibrePOS" }}</a>
        <ul id="nav-mobile" class="right">
            <li><a href=""><i class="material-symbols-rounded">notifications</i></a></li>
            <li><a href=""><i class="material-symbols-rounded">chat</i></a></li>
            <li><a href=""><i class="material-symbols-rounded">account_circle</i></a></li>
        </ul>
    </div>
</nav>