<aside id="main-menu" class="sidenav" role="navigation" aria-label="Main menu">
    <div class="sidenav-header center">
        <span class="sidenav-title">{{ business_name }}</span>
    </div>
    {% for item in nav_items %}
        {% if item.get("divider") %}
            <li role="separator">
                <div class="divider"></div>
            </li>
        {% elif item.get("subheader") %}
            <li><a class="subheader">{{ item.subheader }}</a></li>
        {% else %}
            <li>
                <a class="waves-effect" href="{{ url_for(item.endpoint) if item.endpoint != '#' else '#!' }}">
                    {% if item.get("icon") %}
                        <i class="material-symbols-rounded" aria-hidden="true">{{ item.icon }}</i>
                    {% endif %}
                    {{ item.label }}
                </a>
            </li>
        {% endif %}
    {% endfor %}

    <div class="sidenav-footer center">
        <small>v{{ app_version }}</small>
    </div>
</aside>
