{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card, render_profile_card %}
{% from "macros/ui_components.html" import render_button, render_icon %}


{% block main %}

{% set button_html %}
{% if current_user.has_permission(update_user_permission) %}
    {{ render_button("Edit", "filled", url_for("iam.user.display_update_user", user_id=user.id)) }}
{% endif %}
{% endset %}

{% call page_section(user.username|title, button=button_html) %}
    <!-- User Profile Header -->
    <div class="col s12 m6">
        {{ render_profile_card(user) }}
    </div>

    <!-- User Details Card -->
    <div class="col s12 m6">
        {% call panel_card("Personal") %}
            <div class="row">
                <div class="col s12">
                    <p>
                        {{ render_icon('male', classes='tiny') }}&nbsp;
                        Gender &colon; &nbsp; <strong>{{ user.gender|title }}</strong>
                    </p>
                    <p>
                        {{ render_icon('favorite', classes='tiny') }}&nbsp;
                        Marital Status &colon; &nbsp; <strong>{{ user.marital_status|title }}</strong>
                    </p>
                    <p>
                        {{ render_icon('calendar_today', classes='tiny') }}&nbsp;
                        Birthday &colon; &nbsp; <strong>{{ user.birthday|date }}</strong>
                    </p>
                </div>
            </div>
        {% endcall %}
    </div>

    <div class="col s12 m6">
        {% call panel_card("Contact") %}
            <p>
                {{ render_icon('mail', classes='tiny') }}&nbsp;
                Email &colon; &nbsp; <strong>{{ user.email }}</strong>
                {% if not user.email_confirmed %}
                    &nbsp; {{ render_icon('warning', classes='tiny warning-text') }}
                {% endif %}
            </p>
            <p>
                {{ render_icon('call', classes='tiny') }}&nbsp;
                Phone &colon; &nbsp; <strong>{{ user.phone|phone }}</strong>
                {% if not user.phone_confirmed %}
                    &nbsp; {{ render_icon('warning', classes='tiny warning-text') }}
                {% endif %}
            </p>
            <p>
                {{ render_icon('location_on', classes='tiny') }}&nbsp;
                Address &colon; &nbsp;
            </p>
            <address class="ml-4">
                {{ user.address|title }}<br>
                {{ user.city|title }}, {{ user.state|upper }} {{ user.zipcode }}<br>
                {{ user.country }}
            </address>
        {% endcall %}
    </div>
{% endcall %}

{% endblock %}