{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}
{% from "macros/ui_components.html" import render_button, table %}

{% block main %}

{% set button_html %}
{% if current_user.has_permission("iam.create.user") %}
    {{ render_button("Create User", "filled", url=url_for('iam.user.display_create_user')) }}
{% endif %}
{% endset %}

{% call page_section(title, description, count=users, button=button_html) %}
    <div class="col s12">
        {% call panel_card() %}
            {% call table(["Full Name", "Role", "Last Active"]) %}
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ url_for('iam.user.get_user', user_id=user.id) }}">
                                {{ user.username|title }}
                            </a>
                        </td>
                        <td>{{ user.role.name|title }}</td>
                        <td>Today</td>
                    </tr>
                {% endfor %}
            {% endcall %}
        {% endcall %}
    </div>
{% endcall %}

{% endblock %}