{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, panel_card %}
{% from "macros/ui_components.html" import render_form %}

{% block main %}

    {% set page_title = 'Edit User: ' + user.username|upper %}
    {% set page_description = "Modify user personal details and contact information." %}

    {% call page_section(page_title, page_description) %}
        <!-- Personal Information -->
        <div class="col s12">
            {% call panel_card("Personal Information") %}
                {{ render_form(details_form, url_for('iam.user.update_user_details', user_id=user.id)) }}
            {% endcall %}
        </div>

        <!-- Contact Information -->
        <div class="col s12">
            {% call panel_card("Contact Information") %}
                {{ render_form(contact_form, url_for('iam.user.update_user_contact', user_id=user.id)) }}
            {% endcall %}
        </div>

        <!-- Address Information -->
        <div class="col s12">
            {% call panel_card("Address Information") %}
                {{ render_form(address_form, url_for('iam.user.update_user_address', user_id=user.id)) }}
            {% endcall %}
        </div>
    {% endcall %}

{% endblock %}