{% extends 'base.html' %}

{% import "components/forms/form.j2" as Form %}
{% import "components/cards/panel.j2" as CardPanel %}
{% import "components/sections/section.j2" as Section %}

{% block main %}

    <div class="center-content">
        <div class="auth-wrapper">
            <div class="auth-card card z-depth-2">
                <div class="card-content">

                    <div class="brand-lockup">
                        <i class="material-symbols-rounded">lock_open</i>
                        <span class="brand-name">LibrePOS</span>
                    </div>

                    <h5>Reset passwod</h5>
                    <p class="grey-text">Enter your email to receive a reset link.</p>

                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col s12 input-field">
                                {{ Form.text(form.email) }}
                            </div>
                            <div class="col s12">
                                {{ Form.submit("Send reset link") }}
                            </div>
                        </div>
                    </form>

                </div>
                <div class="card-action">
                    <a href="{{ url_for("auth.login") }}">Back to login</a>
                    <a href="{{ url_for("core.get_help") }}">Need help?</a>
                </div>
            </div>
            <p class="grey-text center-align mt-4">We'll email instructions if the account exists.</p>
        </div>
    </div>

{% endblock %}