{% extends 'base.html' %}

{% from "macros/layout_components.html" import page_section, render_icon_card %}

{% block main %}

    {% call page_section("Settings Overview", "Manage your application preferences, users, system configuration, and more.") %}

        {% if current_user.has_permission('settings.read.system') %}
            <!-- System Settings -->
            <div class="col s6 m4 l3">
                {{ render_icon_card("settings_applications", "System", url_for('settings.system_settings')) }}
            </div>
        {% endif %}

        {% if current_user.has_permission('iam.access') %}
            <!-- Roles Settings -->
            <div class="col s6 m4 l3">
                {{ render_icon_card("admin_panel_settings", "IAM", url_for('iam.home')) }}
            </div>
        {% endif %}

        {% if current_user.has_permission("menu.access") %}
            <!-- Menu Settings -->
            <div class="col s6 m4 l3">
                {{ render_icon_card("menu_book_2", "Menu", url_for("menu.home")) }}
            </div>
        {% endif %}

    {% endcall %}

{% endblock %}