{% set default_button_classes = "btn waves-effect waves-light rounded" %}


{% macro filled_button(text, url='#', classes='') %}
    <a href="{{ url }}" class="{{ default_button_classes }} filled {{ classes }}">{{ text }}</a>
{% endmacro %}

{% macro outlined_button(text, url='#', classes='') %}
    <a href="{{ url }}" class="{{ default_button_classes }} outlined {{ classes }}">{{ text }}</a>
{% endmacro %}

{% macro tonal_button(text, url='#', classes='') %}
    <a href="{{ url }}" class="{{ default_button_classes }} tonal {{ classes }}">{{ text }}</a>
{% endmacro %}

{% macro disabled_button(text) %}
    <a class="btn rounded disabled">{{ text }}</a>
{% endmacro %}

{% macro submit_button(text, classes='') %}
    <button class="{{ default_button_classes }} {{ classes }}" type="submit" name="action">
        {{ text }}
    </button>
{% endmacro %}