{% macro card_block(title=None, actions=None, classes="") %}
    <div class="card {{ classes }}">
        <div class="card-content">
            {% if title %}
                <span class="card-title">{{ title|title }}</span>
            {% endif %}
            {{ caller() }}
        </div>
        {% if actions %}
            <div class="card-action">
                {% for action in actions %}
                    <a href="{{ action.href }}" class="{{ action.classes }}">{{ action.label }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro icon_card(icon, text, href=None, truncate_length=12) %}
    <!-- Icon Card -->
    {% set is_clickable = href is not none %}
    {% set card_classes = "center-align" + (" hoverable" if is_clickable else "") %}
    {% set icon_size = "medium" if is_clickable else "large" %}
    {% set heading_classes = "" if is_clickable else "my-0" %}

    {% if is_clickable %}
        <a href="{{ href }}" class="inherit-color">
            {% call card_block(classes=card_classes) %}
                <i class="{{ icon_size }} material-symbols-rounded">{{ icon }}</i>
                <h5 class="{{ heading_classes }}">{{ text|truncate(length=truncate_length) }}</h5>
            {% endcall %}
        </a>
    {% else %}
        {% call card_block(classes=card_classes) %}
            <i class="{{ icon_size }} material-symbols-rounded">{{ icon }}</i>
            <{{ heading_tag }} class="{{ heading_classes }}">{{ text|truncate(length=truncate_length) }}</
            {{ heading_tag }}>
        {% endcall %}
    {% endif %}
{% endmacro %}