{# Attribute rendering & class merging helpers #}
{% macro attrs(dict_=None) -%}
    {%- if dict_ -%}
        {%- for k, v in dict_.items() if v is not none and v is not false -%}
            {{- ' ' ~ k ~ '="' ~ v | e ~ '"' -}}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro %}

{% macro class_names(classes, extra=None) -%}
    {%- set base = classes | select | join(' ') -%}
    {%- if extra %}{{ (base ~ ' ' ~ extra).strip() }}{% else %}{{ base }}{% endif -%}
{%- endmacro %}