{% from "macros/_icons.html" import icon %}
{% from "macros/_buttons.html" import submit_button %}


{% macro string_field(string_field, classes="s12", icon_name=None, icon_classes='') %}

    {% set base_classes = 'input-field col ' %}
    {% set set_classes = base_classes + classes %}
    {% set set_icon_classes = 'prefix ' + icon_classes %}
    <div class="{{ set_classes }}">
        {% if icon_name %}
            {{ icon(icon_name=icon_name, classes=set_icon_classes) }}
        {% endif %}
        {{ string_field() }}
        {{ string_field.label }}
    </div>

{% endmacro %}

{% macro select_field(select_field, classes="s12") %}
    <div class="input-field col {{ classes }}">
        {{ select_field() }}
        {{ select_field.label }}
    </div>
{% endmacro %}


{% macro submit_field(text='Save Changes', classes='filled') %}

    <div class="col s12 center-block">
        {{ submit_button(text, classes) }}
    </div>

{% endmacro %}