{% from "macros/_buttons.html" import modal_button, tonal_button %}

{% macro infoMessageModal(id, title=None, classes=None) %}
    {% set modal_id = id if id else "infoModal" %}

    <div id="{{ modal_id }}" class="modal info-border" popover>
        <div class="modal-header info-text center-align">
            <i class="large material-symbols-rounded">info</i>
            <h5>{{ title if title else "Information" }}</h5>
        </div>
        <div class="modal-content">
            {{ caller() }}
        </div>
        <div class="modal-footer">
            <button class="btn-flat inherit-color" popovertarget="{{ modal_id }}">OK</button>
        </div>
    </div>
{% endmacro %}


{% macro warningMessageModal(url, id='warningModal') %}
    <div id="{{ id }}" class="modal warning-border" popover>
        <div class="modal-header warning-text center-align">
            <i class="large material-symbols-rounded">warning</i>
            <h4>Warning</h4>
            <hr class="warning">
        </div>
        <div class="modal-content">
            {{ caller() }}
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6 center-align">
                    <button class="btn-flat inherit-color" popovertarget="{{ id }}">Cancel</button>
                </div>
                <div class="col s6 center-align">
                    <button hx-post="{{ url }}" class="btn warning black-text">Continue</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro dangerModal(id, title="Danger") %}
    <div id="{{ id }}" class="modal danger-border" popover>
        <div class="modal-header danger-text center-align">
            <i class="large material-symbols-rounded">error</i>
            <h5>{{ title }}</h5>
        </div>
        <div class="modal-content">
            {{ caller() }}
        </div>
        <div class="modal-footer">
            <button class="btn-flat inherit-color" popovertarget="{{ id }}">Dismiss</button>
        </div>
    </div>
{% endmacro %}


{% macro modal(id, title, classes='') %}
    <div id="{{ id }}" class="modal {{ classes }}" popover>
        <div class="modal-header center-align">
            <h5>{{ title }}</h5>
            <hr>
        </div>
        <div class="modal-content">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}