{% from "macros/_icons.html" import icon %}

{% macro section() %}
    <section class="section">
        <div class="container">
            {{ caller() }}
        </div>
    </section>
{% endmacro %}


{% macro section_header(title, description=None, info_url=None, count=None) %}

    {% if caller %}
        <div class="row">
            <div class="col s8">
                <h5>
                    {{ title }}
                    {% if count %}
                        ({{ count|length }})
                    {% endif %}
                    {% if info_url %}
                        <a href="{{ info_url }}" class="fs-small">info</a>
                    {% endif %}
                </h5>
            </div>
            <div class="col s4 right-align">
                {{ caller() }}
            </div>
        </div>
    {% else %}
        <h5>
            {% if icon_name %}
                {{ icon(icon_name, classes='left pr-4') }}
            {% endif %}
            {{ title }}
            {% if count %}
                ({{ count|length }})
            {% endif %}
            {% if info_url %}
                <a href="{{ info_url }}" class="fs-small">info</a>
            {% endif %}
        </h5>
    {% endif %}

    {% if description %}
        <p class="grey-text text-darken-1 flow-text mt-0">{{ description }}</p>
    {% endif %}

    <div class="divider mb-4"></div>

{% endmacro %}