{% import 'macros/_core.j2' as core %}
{# Card.render(title=None, image=None, actions=None, class_=None, attrs=None, caller=None) #}
{% macro render(title=None, image=None, actions=None, class_=None, attrs=None, caller=None) -%}
    <div class="card {{ class_ or '' }}" {{ core.attrs(attrs) }}>
        {% if image %}
            <div class="card-image">
                <img src="{{ image }}" alt=""/>
                {% if title %}<span class="card-title">{{ title }}</span>{% endif %}
            </div>
        {% endif %}
        <div class="card-content">
            {% if not image and title %}
                <span class="card-title">
                    <strong>{{ title }}</strong>
                </span>
            {% endif %}
            {% if caller %}{{ caller() }}{% endif %}
        </div>
        {% if actions %}
            <div class="card-action card-actions">
                {{ actions() }}
            </div>
        {% endif %}
    </div>
{%- endmacro %}