openapi: 3.0.3
info:
  title: Restaurant POS System API
  description: |
    RESTful API for the Restaurant Point of Sale System.
    
    ## Authentication
    All endpoints require authentication unless otherwise noted. The API supports:
    - **Session-based auth** (web clients): Uses Flask-Login sessions
    - **JWT Bearer tokens** (API clients): Include `Authorization: Bearer <token>` header
    - **API Keys** (integrations): Include `X-API-Key: <key>` header
    
    ## Rate Limiting
    - Standard endpoints: 100 requests/minute
    - Search endpoints: 30 requests/minute
    - Batch operations: 10 requests/minute
    
    ## Pagination
    List endpoints support pagination via query parameters:
    - `page` (default: 1)
    - `per_page` (default: 20, max: 100)
    
    Response includes pagination metadata in `meta` object.
    
    ## Error Responses
    All errors follow a consistent format with `error`, `message`, and optional `details`.
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@restaurant-pos.com
  license:
    name: Proprietary
    
servers:
  - url: https://api.restaurant-pos.com/api/v1
    description: Production
  - url: https://staging-api.restaurant-pos.com/api/v1
    description: Staging
  - url: http://localhost:5000/api/v1
    description: Local Development

tags:
  - name: Authentication
    description: Login, logout, and token management
  - name: Menu
    description: Menu items, categories, modifiers, and pricing
  - name: Orders
    description: Order creation, management, and lifecycle
  - name: Payments
    description: Payment processing, tips, discounts, and receipts
  - name: Staff
    description: Employee management, roles, and time tracking
  - name: Kitchen
    description: Kitchen tickets, stations, and KDS operations
  - name: Tables
    description: Floor plans, table management, reservations, and waitlist
  - name: Reporting
    description: Sales reports, analytics, and audit logs
  - name: Inventory
    description: Stock management, recipes, vendors, and purchase orders
  - name: Customers
    description: Customer profiles, loyalty, and gift cards
  - name: Integrations
    description: Third-party integrations and webhooks

paths:
  # ==================== AUTHENTICATION ====================
  /auth/login:
    post:
      tags: [Authentication]
      summary: Authenticate user
      description: Authenticate with PIN, password, or card swipe
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PinLoginRequest'
                - $ref: '#/components/schemas/PasswordLoginRequest'
            examples:
              pin_login:
                summary: PIN Login
                value:
                  employee_number: "EMP001"
                  pin: "1234"
              password_login:
                summary: Password Login
                value:
                  email: "manager@restaurant.com"
                  password: "securepassword"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: End session
      operationId: logout
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Successfully logged out"

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user info
      operationId: getCurrentUser
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  # ==================== MENU ====================
  /menu/categories:
    get:
      tags: [Menu]
      summary: List all categories
      operationId: listCategories
      parameters:
        - $ref: '#/components/parameters/includeInactive'
        - name: parent_id
          in: query
          schema:
            type: integer
          description: Filter by parent category (null for top-level)
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
    post:
      tags: [Menu]
      summary: Create category
      operationId: createCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryCreate'
      responses:
        '201':
          description: Category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /menu/categories/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Menu]
      summary: Get category by ID
      operationId: getCategory
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Menu]
      summary: Update category
      operationId: updateCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryUpdate'
      responses:
        '200':
          description: Category updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
    delete:
      tags: [Menu]
      summary: Delete category
      operationId: deleteCategory
      responses:
        '204':
          description: Category deleted
        '409':
          description: Cannot delete - category has items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /menu/items:
    get:
      tags: [Menu]
      summary: List menu items
      operationId: listMenuItems
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/includeInactive'
        - name: category_id
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
          description: Search by name or SKU
        - name: available_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Paginated list of menu items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MenuItem'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Menu]
      summary: Create menu item
      operationId: createMenuItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuItemCreate'
      responses:
        '201':
          description: Menu item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItem'

  /menu/items/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Menu]
      summary: Get menu item by ID
      operationId: getMenuItem
      parameters:
        - name: include
          in: query
          schema:
            type: string
            enum: [modifiers, pricing_rules, recipe]
          description: Include related data
      responses:
        '200':
          description: Menu item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItemFull'
    put:
      tags: [Menu]
      summary: Update menu item
      operationId: updateMenuItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuItemUpdate'
      responses:
        '200':
          description: Menu item updated
    patch:
      tags: [Menu]
      summary: Partial update menu item
      operationId: patchMenuItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_available:
                  type: boolean
                price:
                  type: number
      responses:
        '200':
          description: Menu item patched
    delete:
      tags: [Menu]
      summary: Delete menu item
      operationId: deleteMenuItem
      responses:
        '204':
          description: Menu item deleted

  /menu/items/{id}/availability:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    patch:
      tags: [Menu]
      summary: Toggle item availability (86)
      operationId: toggleAvailability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_available]
              properties:
                is_available:
                  type: boolean
                reason:
                  type: string
                  description: Reason for 86'ing (if false)
      responses:
        '200':
          description: Availability updated

  /menu/modifier-groups:
    get:
      tags: [Menu]
      summary: List modifier groups
      operationId: listModifierGroups
      responses:
        '200':
          description: List of modifier groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ModifierGroup'
    post:
      tags: [Menu]
      summary: Create modifier group
      operationId: createModifierGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifierGroupCreate'
      responses:
        '201':
          description: Modifier group created

  /menu/modifiers:
    get:
      tags: [Menu]
      summary: List modifiers
      operationId: listModifiers
      parameters:
        - name: group_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of modifiers
    post:
      tags: [Menu]
      summary: Create modifier
      operationId: createModifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifierCreate'
      responses:
        '201':
          description: Modifier created

  # ==================== ORDERS ====================
  /orders:
    get:
      tags: [Orders]
      summary: List orders
      operationId: listOrders
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, submitted, preparing, ready, completed, cancelled]
        - name: order_type
          in: query
          schema:
            type: string
            enum: [dine_in, takeout, delivery, bar]
        - name: server_id
          in: query
          schema:
            type: integer
        - name: table_id
          in: query
          schema:
            type: integer
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Orders]
      summary: Create new order
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Orders]
      summary: Get order by ID
      operationId: getOrder
      parameters:
        - name: include
          in: query
          schema:
            type: string
          description: "Comma-separated: items,checks,payments"
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFull'
    put:
      tags: [Orders]
      summary: Update order
      operationId: updateOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdate'
      responses:
        '200':
          description: Order updated

  /orders/{id}/items:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Orders]
      summary: Get order items
      operationId: getOrderItems
      responses:
        '200':
          description: List of order items
    post:
      tags: [Orders]
      summary: Add item to order
      operationId: addOrderItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderItemCreate'
      responses:
        '201':
          description: Item added

  /orders/{id}/items/{item_id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
      - name: item_id
        in: path
        required: true
        schema:
          type: integer
    put:
      tags: [Orders]
      summary: Update order item
      operationId: updateOrderItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderItemUpdate'
      responses:
        '200':
          description: Item updated
    delete:
      tags: [Orders]
      summary: Remove item from order
      operationId: removeOrderItem
      parameters:
        - name: reason
          in: query
          schema:
            type: string
          description: Reason for removal (required if sent to kitchen)
      responses:
        '204':
          description: Item removed

  /orders/{id}/submit:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Orders]
      summary: Submit order to kitchen
      operationId: submitOrder
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                priority:
                  type: string
                  enum: [normal, rush, vip]
                  default: normal
      responses:
        '200':
          description: Order submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  tickets_created:
                    type: integer

  /orders/{id}/void:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Orders]
      summary: Void entire order
      operationId: voidOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason, manager_pin]
              properties:
                reason:
                  type: string
                manager_pin:
                  type: string
      responses:
        '200':
          description: Order voided

  /orders/{id}/checks:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Orders]
      summary: Get checks for order
      operationId: getOrderChecks
      responses:
        '200':
          description: List of checks
    post:
      tags: [Orders]
      summary: Create/split check
      operationId: createCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckCreate'
      responses:
        '201':
          description: Check created

  # ==================== PAYMENTS ====================
  /payments:
    get:
      tags: [Payments]
      summary: List payments
      operationId: listPayments
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - name: tender_type
          in: query
          schema:
            type: string
            enum: [cash, credit, debit, gift_card, house_account, mobile_wallet]
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, authorized, captured, voided, refunded]
      responses:
        '200':
          description: List of payments

  /payments/process:
    post:
      tags: [Payments]
      summary: Process payment
      operationId: processPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Payment processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '402':
          description: Payment failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'

  /payments/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Payments]
      summary: Get payment details
      operationId: getPayment
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /payments/{id}/void:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Payments]
      summary: Void payment
      operationId: voidPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason, manager_pin]
              properties:
                reason:
                  type: string
                manager_pin:
                  type: string
      responses:
        '200':
          description: Payment voided

  /payments/{id}/refund:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Payments]
      summary: Refund payment
      operationId: refundPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, reason, manager_pin]
              properties:
                amount:
                  type: number
                  description: Refund amount (full or partial)
                reason:
                  type: string
                manager_pin:
                  type: string
      responses:
        '200':
          description: Refund processed

  /payments/{id}/tip:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Payments]
      summary: Add/adjust tip
      operationId: adjustTip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: number
      responses:
        '200':
          description: Tip adjusted

  /checks/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Payments]
      summary: Get check details
      operationId: getCheck
      responses:
        '200':
          description: Check details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Check'

  /checks/{id}/discount:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Payments]
      summary: Apply discount to check
      operationId: applyDiscount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                discount_id:
                  type: integer
                code:
                  type: string
                manager_pin:
                  type: string
                  description: Required for auth-required discounts
      responses:
        '200':
          description: Discount applied

  /discounts:
    get:
      tags: [Payments]
      summary: List available discounts
      operationId: listDiscounts
      responses:
        '200':
          description: List of discounts
    post:
      tags: [Payments]
      summary: Create discount
      operationId: createDiscount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscountCreate'
      responses:
        '201':
          description: Discount created

  /cash-drawers:
    get:
      tags: [Payments]
      summary: List cash drawers
      operationId: listCashDrawers
      responses:
        '200':
          description: List of cash drawers

  /cash-drawers/{id}/open:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Payments]
      summary: Open cash drawer
      operationId: openCashDrawer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [opening_amount]
              properties:
                opening_amount:
                  type: number
      responses:
        '200':
          description: Drawer opened

  /cash-drawers/{id}/close:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Payments]
      summary: Close and count cash drawer
      operationId: closeCashDrawer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [counted_amount]
              properties:
                counted_amount:
                  type: number
                variance_reason:
                  type: string
      responses:
        '200':
          description: Drawer closed with reconciliation

  # ==================== STAFF ====================
  /staff/users:
    get:
      tags: [Staff]
      summary: List employees
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/includeInactive'
        - name: role_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of employees
    post:
      tags: [Staff]
      summary: Create employee
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '201':
          description: Employee created

  /staff/users/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Staff]
      summary: Get employee by ID
      operationId: getUser
      responses:
        '200':
          description: Employee details
    put:
      tags: [Staff]
      summary: Update employee
      operationId: updateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: Employee updated

  /staff/users/{id}/reset-pin:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Staff]
      summary: Reset employee PIN
      operationId: resetPin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_pin, manager_pin]
              properties:
                new_pin:
                  type: string
                  pattern: '^\d{4}$'
                manager_pin:
                  type: string
      responses:
        '200':
          description: PIN reset

  /staff/roles:
    get:
      tags: [Staff]
      summary: List roles
      operationId: listRoles
      responses:
        '200':
          description: List of roles
    post:
      tags: [Staff]
      summary: Create role
      operationId: createRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCreate'
      responses:
        '201':
          description: Role created

  /staff/permissions:
    get:
      tags: [Staff]
      summary: List all permissions
      operationId: listPermissions
      responses:
        '200':
          description: List of permissions grouped by category

  /staff/time-entries:
    get:
      tags: [Staff]
      summary: List time entries
      operationId: listTimeEntries
      parameters:
        - name: user_id
          in: query
          schema:
            type: integer
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of time entries

  /staff/clock-in:
    post:
      tags: [Staff]
      summary: Clock in
      operationId: clockIn
      responses:
        '200':
          description: Clocked in successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntry'

  /staff/clock-out:
    post:
      tags: [Staff]
      summary: Clock out
      operationId: clockOut
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cash_tips:
                  type: number
                credit_tips:
                  type: number
      responses:
        '200':
          description: Clocked out successfully

  /staff/schedules:
    get:
      tags: [Staff]
      summary: List schedules
      operationId: listSchedules
      parameters:
        - name: week_of
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of schedules
    post:
      tags: [Staff]
      summary: Create schedule
      operationId: createSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleCreate'
      responses:
        '201':
          description: Schedule created

  /staff/shifts:
    get:
      tags: [Staff]
      summary: List shifts
      operationId: listShifts
      parameters:
        - name: user_id
          in: query
          schema:
            type: integer
        - name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of shifts
    post:
      tags: [Staff]
      summary: Create shift
      operationId: createShift
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShiftCreate'
      responses:
        '201':
          description: Shift created

  # ==================== KITCHEN ====================
  /kitchen/stations:
    get:
      tags: [Kitchen]
      summary: List kitchen stations
      operationId: listStations
      responses:
        '200':
          description: List of stations
    post:
      tags: [Kitchen]
      summary: Create station
      operationId: createStation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StationCreate'
      responses:
        '201':
          description: Station created

  /kitchen/tickets:
    get:
      tags: [Kitchen]
      summary: List kitchen tickets
      operationId: listKitchenTickets
      parameters:
        - name: station_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, in_progress, ready, bumped, recalled]
        - name: priority
          in: query
          schema:
            type: string
            enum: [normal, rush, vip]
      responses:
        '200':
          description: List of kitchen tickets

  /kitchen/tickets/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Kitchen]
      summary: Get ticket details
      operationId: getKitchenTicket
      responses:
        '200':
          description: Ticket details

  /kitchen/tickets/{id}/start:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Kitchen]
      summary: Start cooking ticket
      operationId: startTicket
      responses:
        '200':
          description: Ticket started

  /kitchen/tickets/{id}/bump:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Kitchen]
      summary: Bump/complete ticket
      operationId: bumpTicket
      responses:
        '200':
          description: Ticket bumped

  /kitchen/tickets/{id}/recall:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Kitchen]
      summary: Recall bumped ticket
      operationId: recallTicket
      responses:
        '200':
          description: Ticket recalled

  /kitchen/all-day:
    get:
      tags: [Kitchen]
      summary: Get all-day counts
      operationId: getAllDayCounts
      parameters:
        - name: station_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: All-day item counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        menu_item_id:
                          type: integer
                        name:
                          type: string
                        count:
                          type: integer

  # ==================== TABLES ====================
  /tables/floor-plans:
    get:
      tags: [Tables]
      summary: List floor plans
      operationId: listFloorPlans
      responses:
        '200':
          description: List of floor plans
    post:
      tags: [Tables]
      summary: Create floor plan
      operationId: createFloorPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FloorPlanCreate'
      responses:
        '201':
          description: Floor plan created

  /tables/floor-plans/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Tables]
      summary: Get floor plan with tables
      operationId: getFloorPlan
      responses:
        '200':
          description: Floor plan with tables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloorPlanFull'

  /tables:
    get:
      tags: [Tables]
      summary: List tables
      operationId: listTables
      parameters:
        - name: floor_plan_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum: [available, reserved, seated, ordered, entrees_dropped, dessert, check_presented, paid, dirty, blocked]
        - name: section_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of tables with status
    post:
      tags: [Tables]
      summary: Create table
      operationId: createTable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableCreate'
      responses:
        '201':
          description: Table created

  /tables/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Tables]
      summary: Get table with current status
      operationId: getTable
      responses:
        '200':
          description: Table details with status
    put:
      tags: [Tables]
      summary: Update table
      operationId: updateTable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableUpdate'
      responses:
        '200':
          description: Table updated

  /tables/{id}/status:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    patch:
      tags: [Tables]
      summary: Update table status
      operationId: updateTableStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [available, reserved, seated, ordered, entrees_dropped, dessert, check_presented, paid, dirty, blocked]
                party_size:
                  type: integer
                server_id:
                  type: integer
      responses:
        '200':
          description: Status updated

  /tables/{id}/seat:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Tables]
      summary: Seat party at table
      operationId: seatTable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [party_size]
              properties:
                party_size:
                  type: integer
                server_id:
                  type: integer
                reservation_id:
                  type: integer
                customer_id:
                  type: integer
      responses:
        '200':
          description: Party seated
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: integer
                  table_status:
                    $ref: '#/components/schemas/TableStatus'

  /reservations:
    get:
      tags: [Tables]
      summary: List reservations
      operationId: listReservations
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: status
          in: query
          schema:
            type: string
            enum: [booked, confirmed, seated, completed, no_show, cancelled]
      responses:
        '200':
          description: List of reservations
    post:
      tags: [Tables]
      summary: Create reservation
      operationId: createReservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationCreate'
      responses:
        '201':
          description: Reservation created

  /reservations/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Tables]
      summary: Get reservation
      operationId: getReservation
      responses:
        '200':
          description: Reservation details
    put:
      tags: [Tables]
      summary: Update reservation
      operationId: updateReservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationUpdate'
      responses:
        '200':
          description: Reservation updated

  /reservations/{id}/confirm:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Tables]
      summary: Confirm reservation
      operationId: confirmReservation
      responses:
        '200':
          description: Reservation confirmed

  /reservations/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Tables]
      summary: Cancel reservation
      operationId: cancelReservation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Reservation cancelled

  /waitlist:
    get:
      tags: [Tables]
      summary: Get current waitlist
      operationId: getWaitlist
      responses:
        '200':
          description: Current waitlist entries
    post:
      tags: [Tables]
      summary: Add to waitlist
      operationId: addToWaitlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitlistCreate'
      responses:
        '201':
          description: Added to waitlist

  /waitlist/{id}/notify:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Tables]
      summary: Notify waitlist party
      operationId: notifyWaitlist
      responses:
        '200':
          description: Notification sent

  /waitlist/{id}/seat:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Tables]
      summary: Seat waitlist party
      operationId: seatWaitlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [table_id]
              properties:
                table_id:
                  type: integer
      responses:
        '200':
          description: Party seated

  # ==================== REPORTING ====================
  /reports/daily-summary:
    get:
      tags: [Reporting]
      summary: Get daily summary
      operationId: getDailySummary
      parameters:
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Daily summary report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailySummary'

  /reports/sales:
    get:
      tags: [Reporting]
      summary: Get sales report
      operationId: getSalesReport
      parameters:
        - name: date_from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: group_by
          in: query
          schema:
            type: string
            enum: [hour, day, week, month]
            default: day
      responses:
        '200':
          description: Sales report data

  /reports/product-mix:
    get:
      tags: [Reporting]
      summary: Get product mix report
      operationId: getProductMix
      parameters:
        - name: date_from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: category_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Product mix data

  /reports/labor:
    get:
      tags: [Reporting]
      summary: Get labor report
      operationId: getLaborReport
      parameters:
        - name: date_from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Labor report data

  /reports/server-performance:
    get:
      tags: [Reporting]
      summary: Get server performance report
      operationId: getServerPerformance
      parameters:
        - name: date_from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: user_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Server performance data

  /reports/voids-comps:
    get:
      tags: [Reporting]
      summary: Get voids and comps report
      operationId: getVoidsComps
      parameters:
        - name: date_from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Voids and comps data

  /reports/audit-log:
    get:
      tags: [Reporting]
      summary: Get audit log
      operationId: getAuditLog
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: user_id
          in: query
          schema:
            type: integer
        - name: action
          in: query
          schema:
            type: string
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Audit log entries

  /reports/saved:
    get:
      tags: [Reporting]
      summary: List saved reports
      operationId: listSavedReports
      responses:
        '200':
          description: List of saved reports
    post:
      tags: [Reporting]
      summary: Save report configuration
      operationId: saveReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedReportCreate'
      responses:
        '201':
          description: Report saved

  /reports/saved/{id}/run:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Reporting]
      summary: Run saved report
      operationId: runSavedReport
      responses:
        '200':
          description: Report execution started

  # ==================== INVENTORY ====================
  /inventory/items:
    get:
      tags: [Inventory]
      summary: List inventory items
      operationId: listInventoryItems
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: category
          in: query
          schema:
            type: string
            enum: [protein, produce, dairy, dry_goods, beverage, paper, chemical, other]
        - name: low_stock
          in: query
          schema:
            type: boolean
          description: Only items below reorder point
      responses:
        '200':
          description: List of inventory items
    post:
      tags: [Inventory]
      summary: Create inventory item
      operationId: createInventoryItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItemCreate'
      responses:
        '201':
          description: Inventory item created

  /inventory/items/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Inventory]
      summary: Get inventory item
      operationId: getInventoryItem
      responses:
        '200':
          description: Inventory item details
    put:
      tags: [Inventory]
      summary: Update inventory item
      operationId: updateInventoryItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItemUpdate'
      responses:
        '200':
          description: Inventory item updated

  /inventory/items/{id}/adjust:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Inventory]
      summary: Adjust stock level
      operationId: adjustStock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockAdjustment'
      responses:
        '200':
          description: Stock adjusted

  /inventory/counts:
    post:
      tags: [Inventory]
      summary: Submit inventory count
      operationId: submitCount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [counts]
              properties:
                counts:
                  type: array
                  items:
                    type: object
                    required: [inventory_item_id, counted_quantity]
                    properties:
                      inventory_item_id:
                        type: integer
                      counted_quantity:
                        type: number
                      storage_location:
                        type: string
      responses:
        '200':
          description: Count submitted

  /inventory/vendors:
    get:
      tags: [Inventory]
      summary: List vendors
      operationId: listVendors
      responses:
        '200':
          description: List of vendors
    post:
      tags: [Inventory]
      summary: Create vendor
      operationId: createVendor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorCreate'
      responses:
        '201':
          description: Vendor created

  /inventory/purchase-orders:
    get:
      tags: [Inventory]
      summary: List purchase orders
      operationId: listPurchaseOrders
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, submitted, confirmed, partial, received, cancelled]
        - name: vendor_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of purchase orders
    post:
      tags: [Inventory]
      summary: Create purchase order
      operationId: createPurchaseOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseOrderCreate'
      responses:
        '201':
          description: Purchase order created

  /inventory/purchase-orders/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Inventory]
      summary: Get purchase order
      operationId: getPurchaseOrder
      responses:
        '200':
          description: Purchase order details

  /inventory/purchase-orders/{id}/submit:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Inventory]
      summary: Submit purchase order to vendor
      operationId: submitPurchaseOrder
      responses:
        '200':
          description: PO submitted

  /inventory/purchase-orders/{id}/receive:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Inventory]
      summary: Receive items from purchase order
      operationId: receivePurchaseOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [line_items]
              properties:
                line_items:
                  type: array
                  items:
                    type: object
                    required: [line_item_id, quantity_received]
                    properties:
                      line_item_id:
                        type: integer
                      quantity_received:
                        type: number
                      notes:
                        type: string
      responses:
        '200':
          description: Items received

  /inventory/recipes:
    get:
      tags: [Inventory]
      summary: List recipes
      operationId: listRecipes
      responses:
        '200':
          description: List of recipes
    post:
      tags: [Inventory]
      summary: Create recipe
      operationId: createRecipe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipeCreate'
      responses:
        '201':
          description: Recipe created

  # ==================== CUSTOMERS ====================
  /customers:
    get:
      tags: [Customers]
      summary: List customers
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: search
          in: query
          schema:
            type: string
          description: Search by name, email, or phone
      responses:
        '200':
          description: List of customers
    post:
      tags: [Customers]
      summary: Create customer
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
      responses:
        '201':
          description: Customer created

  /customers/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Customers]
      summary: Get customer profile
      operationId: getCustomer
      parameters:
        - name: include
          in: query
          schema:
            type: string
          description: "Comma-separated: loyalty,orders,preferences"
      responses:
        '200':
          description: Customer profile
    put:
      tags: [Customers]
      summary: Update customer
      operationId: updateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        '200':
          description: Customer updated

  /customers/{id}/orders:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Customers]
      summary: Get customer order history
      operationId: getCustomerOrders
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: Customer order history

  /customers/lookup:
    get:
      tags: [Customers]
      summary: Lookup customer by phone or email
      operationId: lookupCustomer
      parameters:
        - name: phone
          in: query
          schema:
            type: string
        - name: email
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Customer found
        '404':
          description: Customer not found

  /loyalty/accounts:
    get:
      tags: [Customers]
      summary: List loyalty accounts
      operationId: listLoyaltyAccounts
      responses:
        '200':
          description: List of loyalty accounts

  /loyalty/accounts/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Customers]
      summary: Get loyalty account
      operationId: getLoyaltyAccount
      responses:
        '200':
          description: Loyalty account details

  /loyalty/accounts/{id}/points:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Customers]
      summary: Add/deduct points
      operationId: adjustPoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [points, reason]
              properties:
                points:
                  type: integer
                  description: Positive to add, negative to deduct
                reason:
                  type: string
                order_id:
                  type: integer
      responses:
        '200':
          description: Points adjusted

  /loyalty/tiers:
    get:
      tags: [Customers]
      summary: List loyalty tiers
      operationId: listLoyaltyTiers
      responses:
        '200':
          description: List of tiers

  /loyalty/rewards:
    get:
      tags: [Customers]
      summary: List available rewards
      operationId: listRewards
      responses:
        '200':
          description: List of rewards

  /loyalty/redeem:
    post:
      tags: [Customers]
      summary: Redeem reward
      operationId: redeemReward
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [loyalty_account_id, reward_id]
              properties:
                loyalty_account_id:
                  type: integer
                reward_id:
                  type: integer
                check_id:
                  type: integer
      responses:
        '200':
          description: Reward redeemed

  /gift-cards:
    get:
      tags: [Customers]
      summary: List gift cards
      operationId: listGiftCards
      responses:
        '200':
          description: List of gift cards
    post:
      tags: [Customers]
      summary: Issue gift card
      operationId: issueGiftCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GiftCardCreate'
      responses:
        '201':
          description: Gift card issued

  /gift-cards/{card_number}:
    parameters:
      - name: card_number
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Customers]
      summary: Check gift card balance
      operationId: getGiftCardBalance
      responses:
        '200':
          description: Gift card details

  /gift-cards/{card_number}/redeem:
    parameters:
      - name: card_number
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Customers]
      summary: Redeem gift card
      operationId: redeemGiftCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: number
                pin:
                  type: string
      responses:
        '200':
          description: Gift card redeemed

  /gift-cards/{card_number}/reload:
    parameters:
      - name: card_number
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Customers]
      summary: Reload gift card
      operationId: reloadGiftCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: number
      responses:
        '200':
          description: Gift card reloaded

  # ==================== INTEGRATIONS ====================
  /integrations:
    get:
      tags: [Integrations]
      summary: List integrations
      operationId: listIntegrations
      responses:
        '200':
          description: List of integrations
    post:
      tags: [Integrations]
      summary: Create integration
      operationId: createIntegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationCreate'
      responses:
        '201':
          description: Integration created

  /integrations/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    get:
      tags: [Integrations]
      summary: Get integration
      operationId: getIntegration
      responses:
        '200':
          description: Integration details
    put:
      tags: [Integrations]
      summary: Update integration
      operationId: updateIntegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationUpdate'
      responses:
        '200':
          description: Integration updated

  /integrations/{id}/sync:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Integrations]
      summary: Trigger manual sync
      operationId: syncIntegration
      responses:
        '200':
          description: Sync started

  /integrations/{id}/test:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Integrations]
      summary: Test integration connection
      operationId: testIntegration
      responses:
        '200':
          description: Connection test result

  /webhooks:
    get:
      tags: [Integrations]
      summary: List webhook endpoints
      operationId: listWebhooks
      responses:
        '200':
          description: List of webhooks
    post:
      tags: [Integrations]
      summary: Create webhook endpoint
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook created

  /webhooks/{id}:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    delete:
      tags: [Integrations]
      summary: Delete webhook
      operationId: deleteWebhook
      responses:
        '204':
          description: Webhook deleted

  /webhooks/{id}/test:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Integrations]
      summary: Send test webhook
      operationId: testWebhook
      responses:
        '200':
          description: Test webhook sent

  /external-orders:
    get:
      tags: [Integrations]
      summary: List external orders
      operationId: listExternalOrders
      parameters:
        - name: integration_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of external orders

  /external-orders/{id}/accept:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Integrations]
      summary: Accept external order
      operationId: acceptExternalOrder
      responses:
        '200':
          description: Order accepted

  /external-orders/{id}/reject:
    parameters:
      - $ref: '#/components/parameters/resourceId'
    post:
      tags: [Integrations]
      summary: Reject external order
      operationId: rejectExternalOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Order rejected

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    sessionAuth:
      type: apiKey
      in: cookie
      name: session

  parameters:
    resourceId:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Resource ID
    page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
    perPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    includeInactive:
      name: include_inactive
      in: query
      schema:
        type: boolean
        default: false

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "bad_request"
            message: "Invalid request parameters"
            details:
              field: "price"
              issue: "must be a positive number"
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "unauthorized"
            message: "Authentication required"
    Forbidden:
      description: Permission denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "forbidden"
            message: "You don't have permission to perform this action"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "not_found"
            message: "Resource not found"
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "rate_limited"
            message: "Too many requests. Please try again later."

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

    # Auth Schemas
    PinLoginRequest:
      type: object
      required: [employee_number, pin]
      properties:
        employee_number:
          type: string
        pin:
          type: string
          pattern: '^\d{4}$'

    PasswordLoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          example: "Bearer"
        expires_in:
          type: integer
          example: 3600
        user:
          $ref: '#/components/schemas/User'

    # User Schemas
    User:
      type: object
      properties:
        id:
          type: integer
        employee_number:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        phone:
          type: string
        role:
          $ref: '#/components/schemas/Role'
        is_active:
          type: boolean
        hire_date:
          type: string
          format: date
        created_at:
          type: string
          format: date-time

    UserCreate:
      type: object
      required: [first_name, last_name, role_id, pin]
      properties:
        employee_number:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        role_id:
          type: integer
        pin:
          type: string
          pattern: '^\d{4}$'
        password:
          type: string
        hire_date:
          type: string
          format: date
        hourly_rate:
          type: number

    UserUpdate:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        phone:
          type: string
        role_id:
          type: integer
        is_active:
          type: boolean
        hourly_rate:
          type: number

    Role:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        is_system_role:
          type: boolean
        permissions:
          type: array
          items:
            type: string

    RoleCreate:
      type: object
      required: [name, permission_ids]
      properties:
        name:
          type: string
        description:
          type: string
        permission_ids:
          type: array
          items:
            type: integer

    # Menu Schemas
    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        display_order:
          type: integer
        parent_id:
          type: integer
        is_active:
          type: boolean
        image_url:
          type: string
        item_count:
          type: integer

    CategoryCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        display_order:
          type: integer
        parent_id:
          type: integer
        image_url:
          type: string

    CategoryUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        display_order:
          type: integer
        parent_id:
          type: integer
        is_active:
          type: boolean
        image_url:
          type: string

    MenuItem:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        price:
          type: number
        category_id:
          type: integer
        category_name:
          type: string
        sku:
          type: string
        image_url:
          type: string
        is_available:
          type: boolean
        is_taxable:
          type: boolean
        prep_time_minutes:
          type: integer
        display_order:
          type: integer

    MenuItemFull:
      allOf:
        - $ref: '#/components/schemas/MenuItem'
        - type: object
          properties:
            modifier_groups:
              type: array
              items:
                $ref: '#/components/schemas/ModifierGroup'
            pricing_rules:
              type: array
              items:
                $ref: '#/components/schemas/PricingRule'

    MenuItemCreate:
      type: object
      required: [name, price, category_id]
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
        category_id:
          type: integer
        sku:
          type: string
        image_url:
          type: string
        is_taxable:
          type: boolean
          default: true
        prep_time_minutes:
          type: integer
        modifier_group_ids:
          type: array
          items:
            type: integer

    MenuItemUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
        category_id:
          type: integer
        sku:
          type: string
        image_url:
          type: string
        is_available:
          type: boolean
        is_taxable:
          type: boolean
        prep_time_minutes:
          type: integer
        display_order:
          type: integer

    ModifierGroup:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        min_selections:
          type: integer
        max_selections:
          type: integer
        is_required:
          type: boolean
        display_order:
          type: integer
        modifiers:
          type: array
          items:
            $ref: '#/components/schemas/Modifier'

    ModifierGroupCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        min_selections:
          type: integer
          default: 0
        max_selections:
          type: integer
          default: 1
        is_required:
          type: boolean
          default: false

    Modifier:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        price:
          type: number
        modifier_group_id:
          type: integer
        is_available:
          type: boolean
        display_order:
          type: integer

    ModifierCreate:
      type: object
      required: [name, modifier_group_id]
      properties:
        name:
          type: string
        price:
          type: number
          default: 0
        modifier_group_id:
          type: integer

    PricingRule:
      type: object
      properties:
        id:
          type: integer
        menu_item_id:
          type: integer
        rule_type:
          type: string
        price:
          type: number
        start_time:
          type: string
          format: time
        end_time:
          type: string
          format: time
        days_of_week:
          type: array
          items:
            type: integer
        priority:
          type: integer

    # Order Schemas
    Order:
      type: object
      properties:
        id:
          type: integer
        order_number:
          type: string
        order_type:
          type: string
          enum: [dine_in, takeout, delivery, bar]
        status:
          type: string
          enum: [draft, submitted, preparing, ready, completed, cancelled]
        table_id:
          type: integer
        table_number:
          type: string
        server_id:
          type: integer
        server_name:
          type: string
        customer_id:
          type: integer
        guest_count:
          type: integer
        notes:
          type: string
        subtotal:
          type: number
        tax_amount:
          type: number
        discount_amount:
          type: number
        total:
          type: number
        created_at:
          type: string
          format: date-time
        submitted_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    OrderFull:
      allOf:
        - $ref: '#/components/schemas/Order'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/OrderItem'
            checks:
              type: array
              items:
                $ref: '#/components/schemas/Check'

    OrderCreate:
      type: object
      required: [order_type]
      properties:
        order_type:
          type: string
          enum: [dine_in, takeout, delivery, bar]
        table_id:
          type: integer
        customer_id:
          type: integer
        guest_count:
          type: integer
          default: 1
        notes:
          type: string

    OrderUpdate:
      type: object
      properties:
        guest_count:
          type: integer
        notes:
          type: string
        table_id:
          type: integer

    OrderItem:
      type: object
      properties:
        id:
          type: integer
        menu_item_id:
          type: integer
        name:
          type: string
        quantity:
          type: integer
        unit_price:
          type: number
        total_price:
          type: number
        notes:
          type: string
        course:
          type: string
        seat_number:
          type: integer
        status:
          type: string
        modifiers:
          type: array
          items:
            type: object
            properties:
              modifier_id:
                type: integer
              name:
                type: string
              price:
                type: number

    OrderItemCreate:
      type: object
      required: [menu_item_id]
      properties:
        menu_item_id:
          type: integer
        quantity:
          type: integer
          default: 1
        notes:
          type: string
        course:
          type: string
          enum: [appetizer, entree, dessert, beverage]
          default: entree
        seat_number:
          type: integer
        modifier_ids:
          type: array
          items:
            type: integer

    OrderItemUpdate:
      type: object
      properties:
        quantity:
          type: integer
        notes:
          type: string
        course:
          type: string
        seat_number:
          type: integer

    Check:
      type: object
      properties:
        id:
          type: integer
        order_id:
          type: integer
        check_number:
          type: integer
        subtotal:
          type: number
        tax_amount:
          type: number
        discount_amount:
          type: number
        total:
          type: number
        status:
          type: string
          enum: [open, paid, partially_paid, voided]
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'

    CheckCreate:
      type: object
      properties:
        split_type:
          type: string
          enum: [by_seat, by_item, equal, custom]
        num_ways:
          type: integer
          description: For equal split
        item_ids:
          type: array
          items:
            type: integer
          description: For by_item split
        seat_numbers:
          type: array
          items:
            type: integer
          description: For by_seat split

    # Payment Schemas
    Payment:
      type: object
      properties:
        id:
          type: integer
        check_id:
          type: integer
        amount:
          type: number
        tender_type:
          type: string
        status:
          type: string
        reference_number:
          type: string
        tip_amount:
          type: number
        created_at:
          type: string
          format: date-time
        processed_by_id:
          type: integer

    PaymentRequest:
      type: object
      required: [check_id, amount, tender_type]
      properties:
        check_id:
          type: integer
        amount:
          type: number
        tender_type:
          type: string
          enum: [cash, credit, debit, gift_card, house_account, mobile_wallet]
        tip_amount:
          type: number
        card_token:
          type: string
          description: For card payments
        gift_card_number:
          type: string
        gift_card_pin:
          type: string

    PaymentResponse:
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/Payment'
        check:
          $ref: '#/components/schemas/Check'
        change_due:
          type: number
          description: For cash payments
        authorization_code:
          type: string
          description: For card payments

    PaymentError:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        decline_code:
          type: string
        decline_message:
          type: string

    DiscountCreate:
      type: object
      required: [name, discount_type, value]
      properties:
        name:
          type: string
        discount_type:
          type: string
          enum: [percentage, fixed]
        value:
          type: number
        code:
          type: string
        requires_authorization:
          type: boolean
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        usage_limit:
          type: integer

    # Staff Schemas
    TimeEntry:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        clock_in:
          type: string
          format: date-time
        clock_out:
          type: string
          format: date-time
        break_minutes:
          type: integer
        total_hours:
          type: number
        is_edited:
          type: boolean

    ShiftCreate:
      type: object
      required: [user_id, scheduled_start, scheduled_end, role_id]
      properties:
        user_id:
          type: integer
        scheduled_start:
          type: string
          format: date-time
        scheduled_end:
          type: string
          format: date-time
        role_id:
          type: integer
        notes:
          type: string

    ScheduleCreate:
      type: object
      required: [name, week_start_date]
      properties:
        name:
          type: string
        week_start_date:
          type: string
          format: date
        shifts:
          type: array
          items:
            $ref: '#/components/schemas/ShiftCreate'

    # Kitchen Schemas
    StationCreate:
      type: object
      required: [name, station_type]
      properties:
        name:
          type: string
        station_type:
          type: string
          enum: [grill, fryer, saute, prep, expo, bar, dessert]
        printer_id:
          type: string

    # Tables Schemas
    FloorPlanCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        is_default:
          type: boolean

    FloorPlanFull:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        is_active:
          type: boolean
        is_default:
          type: boolean
        tables:
          type: array
          items:
            $ref: '#/components/schemas/TableWithStatus'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/Section'

    TableCreate:
      type: object
      required: [floor_plan_id, table_number, capacity_max]
      properties:
        floor_plan_id:
          type: integer
        table_number:
          type: string
        name:
          type: string
        capacity_min:
          type: integer
          default: 1
        capacity_max:
          type: integer
        x_position:
          type: integer
        y_position:
          type: integer
        width:
          type: integer
        height:
          type: integer
        shape:
          type: string
          enum: [square, rectangle, round, oval]
        rotation:
          type: integer

    TableUpdate:
      type: object
      properties:
        table_number:
          type: string
        name:
          type: string
        capacity_min:
          type: integer
        capacity_max:
          type: integer
        x_position:
          type: integer
        y_position:
          type: integer
        width:
          type: integer
        height:
          type: integer
        shape:
          type: string
        rotation:
          type: integer
        is_active:
          type: boolean

    TableWithStatus:
      type: object
      properties:
        id:
          type: integer
        table_number:
          type: string
        name:
          type: string
        capacity_min:
          type: integer
        capacity_max:
          type: integer
        x_position:
          type: integer
        y_position:
          type: integer
        width:
          type: integer
        height:
          type: integer
        shape:
          type: string
        rotation:
          type: integer
        status:
          $ref: '#/components/schemas/TableStatus'

    TableStatus:
      type: object
      properties:
        status:
          type: string
        party_size:
          type: integer
        server_id:
          type: integer
        server_name:
          type: string
        order_id:
          type: integer
        seated_at:
          type: string
          format: date-time
        time_seated_minutes:
          type: integer

    Section:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
        table_ids:
          type: array
          items:
            type: integer

    ReservationCreate:
      type: object
      required: [customer_name, party_size, reservation_time]
      properties:
        customer_name:
          type: string
        phone:
          type: string
        email:
          type: string
        customer_id:
          type: integer
        party_size:
          type: integer
        reservation_time:
          type: string
          format: date-time
        table_id:
          type: integer
        notes:
          type: string

    ReservationUpdate:
      type: object
      properties:
        customer_name:
          type: string
        phone:
          type: string
        email:
          type: string
        party_size:
          type: integer
        reservation_time:
          type: string
          format: date-time
        table_id:
          type: integer
        notes:
          type: string

    WaitlistCreate:
      type: object
      required: [customer_name, party_size]
      properties:
        customer_name:
          type: string
        phone:
          type: string
        party_size:
          type: integer
        notes:
          type: string

    # Reporting Schemas
    DailySummary:
      type: object
      properties:
        business_date:
          type: string
          format: date
        gross_sales:
          type: number
        net_sales:
          type: number
        tax_collected:
          type: number
        discounts_given:
          type: number
        comps_given:
          type: number
        refunds:
          type: number
        tips_collected:
          type: number
        cash_sales:
          type: number
        credit_sales:
          type: number
        other_sales:
          type: number
        order_count:
          type: integer
        guest_count:
          type: integer
        average_check:
          type: number
        labor_hours:
          type: number
        labor_cost:
          type: number
        labor_percentage:
          type: number

    SavedReportCreate:
      type: object
      required: [name, report_type, parameters]
      properties:
        name:
          type: string
        report_type:
          type: string
        parameters:
          type: object
        is_scheduled:
          type: boolean
        schedule_cron:
          type: string
        email_recipients:
          type: array
          items:
            type: string

    # Inventory Schemas
    InventoryItemCreate:
      type: object
      required: [name, category, unit_of_measure]
      properties:
        name:
          type: string
        sku:
          type: string
        category:
          type: string
          enum: [protein, produce, dairy, dry_goods, beverage, paper, chemical, other]
        unit_of_measure:
          type: string
        unit_cost:
          type: number
        par_level:
          type: number
        reorder_point:
          type: number

    InventoryItemUpdate:
      type: object
      properties:
        name:
          type: string
        sku:
          type: string
        category:
          type: string
        unit_of_measure:
          type: string
        unit_cost:
          type: number
        par_level:
          type: number
        reorder_point:
          type: number
        is_active:
          type: boolean

    StockAdjustment:
      type: object
      required: [adjustment_type, quantity_change]
      properties:
        adjustment_type:
          type: string
          enum: [count, waste, theft, transfer, received, sold]
        quantity_change:
          type: number
        reason:
          type: string
        storage_location:
          type: string

    VendorCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        contact_name:
          type: string
        email:
          type: string
        phone:
          type: string
        address:
          type: string
        payment_terms:
          type: string
        lead_time_days:
          type: integer
        notes:
          type: string

    PurchaseOrderCreate:
      type: object
      required: [vendor_id, line_items]
      properties:
        vendor_id:
          type: integer
        expected_date:
          type: string
          format: date
        notes:
          type: string
        line_items:
          type: array
          items:
            type: object
            required: [inventory_item_id, quantity_ordered, unit_cost]
            properties:
              inventory_item_id:
                type: integer
              quantity_ordered:
                type: number
              unit_cost:
                type: number

    RecipeCreate:
      type: object
      required: [menu_item_id, ingredients]
      properties:
        menu_item_id:
          type: integer
        yield_quantity:
          type: number
        yield_unit:
          type: string
        instructions:
          type: string
        ingredients:
          type: array
          items:
            type: object
            required: [inventory_item_id, quantity, unit]
            properties:
              inventory_item_id:
                type: integer
              quantity:
                type: number
              unit:
                type: string
              waste_factor_percent:
                type: number

    # Customer Schemas
    CustomerCreate:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        marketing_opt_in:
          type: boolean
        birthday:
          type: string
          format: date
        notes:
          type: string
        tags:
          type: array
          items:
            type: string

    CustomerUpdate:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        phone:
          type: string
        marketing_opt_in:
          type: boolean
        birthday:
          type: string
          format: date
        anniversary:
          type: string
          format: date
        notes:
          type: string
        tags:
          type: array
          items:
            type: string

    GiftCardCreate:
      type: object
      required: [initial_balance]
      properties:
        initial_balance:
          type: number
        customer_id:
          type: integer
        expires_at:
          type: string
          format: date

    # Integration Schemas
    IntegrationCreate:
      type: object
      required: [name, integration_type, provider]
      properties:
        name:
          type: string
        integration_type:
          type: string
          enum: [delivery, accounting, payroll, reservation, marketing, payment]
        provider:
          type: string
        config:
          type: object
        credentials:
          type: object

    IntegrationUpdate:
      type: object
      properties:
        name:
          type: string
        is_active:
          type: boolean
        config:
          type: object
        credentials:
          type: object

    WebhookCreate:
      type: object
      required: [integration_id, url, events]
      properties:
        integration_id:
          type: integer
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
              - order.created
              - order.updated
              - order.completed
              - order.cancelled
              - payment.completed
              - payment.refunded
              - inventory.low_stock
              - reservation.created
              - reservation.cancelled

security:
  - bearerAuth: []
  - sessionAuth: []
  - apiKeyAuth: []
