{% extends 'iam/_base.html' %}

{% import "components/forms.j2" as Form %}

{% block main %}

    <section class="section">
        <div class="row mx-4">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel">
                    <div class="center-align mb-2">
                        <i class="material-symbols-rounded" style="font-size: 3rem; color: var(--bistro-primary);">lock</i>
                        <h5>Confirm Your Password</h5>
                        <p class="grey-text">Please enter your password to continue.</p>
                    </div>

                    <form action="{{ url_for('iam.confirm_password', next=next_url) }}" method="post">
                        {{ Form.render_form(form) }}
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
