{% extends 'base.html' %}

{% import "components/forms.j2" as Form %}
{% import "iam/components/_auth_card.j2" as AuthCard %}

{% block main %}

    {% call AuthCard.render(
        title="Sign In",
        description="Enter your credentials to access the dashboard.",
        links=[
            {'url': url_for('iam.forgot_password'), 'label': 'Forgot password?'},
            {'url': '', 'label': 'Need help?'}
        ]
    ) %}
        <form action="" method="POST">
            {{ Form.render_form(form) }}
        </form>
    {% endcall %}

{% endblock %}
