{% extends 'iam/_base.html' %}

{% import "components/card.j2" as Card %}
{% import "iam/components/_user_card.j2" as UserCard %}

{% block main %}

    <section class="section">
        <div class="mx-4 row">

            <!-- User Info Card -->
            <div class="col s12 m4 l3">
                {% call UserCard.sidebar(user, size='small') %}
                    <div class="divider my-2"></div>
                    <div class="left-align">
                        {{ UserCard.stat_item('login', 'Total Logins', user.login_count or 0) }}
                        {{ UserCard.stat_item('schedule', 'Last Login', user.last_login_at|timeago if user.last_login_at else 'Never') }}
                    </div>
                {% endcall %}
            </div>

            <!-- Login History Table -->
            <div class="col s12 m8 l9">
                <div class="card-panel">
                    {{ Card.panel_header('history', 'Login History') }}

                    {# HTMX container for login history table #}
                    <div id="history-content">
                        {% include 'iam/users/_login_history_table.html' %}
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
