{% extends 'base.html' %}


{% block main %}

    <section>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card z-depth-2">
                        <div class="card-content">

                            <table class="striped highlight">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Photo</th>
                                    <th>FullName</th>
                                    <th>Role</th>
                                    <th>Last Active</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>
                                            <a href="{{ url_for('user.get_user', user_id=user.id) }}">
                                                <img class="circle"
                                                     src="{{ url_for('static', filename=user.image|safe) }}"
                                                     alt="default" style="width: 50px; height: 50px;">
                                            </a>
                                        </td>
                                        <td>{{ user.full_name }}</td>
                                        <td>{{ user.role.name|title }}</td>
                                        <td>Today</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}